[2016-11-15 18:20] jtaubensee opened #1 "Enable Topic Basic Send/Receive with PeekLock"
_From @vinaysurya on October 10, 2016 19:8_

_Copied from original issue: Azure/azure-messaging-dotnet#4_

[2016-11-15 18:20] jtaubensee opened #2 "Implement Batching Support for APIs"
_From @vinaysurya on October 12, 2016 2:4_

Will need to implement the following APIs:
a) SendBatch(SendBatchByCount)
 b) ReceiveBatch(ReceiveBatchByMessageCount, ReceiveBatchBySequenceNumbers, ReceiveBatchWithServerWaitTime)

_Copied from original issue: Azure/azure-messaging-dotnet#6_

[2016-11-15 18:20] jtaubensee opened #3 "Implement Topic and Subscription Send/Receive and most of the Send/Receive/Batch for them"
_From @vinaysurya on October 12, 2016 2:9_

_Copied from original issue: Azure/azure-messaging-dotnet#7_

[2016-11-15 18:20] jtaubensee opened #4 "Implement Sessions support() for Queues and Topics"
_From @vinaysurya on October 12, 2016 2:10_

_Copied from original issue: Azure/azure-messaging-dotnet#8_

[2016-11-15 18:20] jtaubensee opened #5 "Add Browse/Peek support"
_From @vinaysurya on October 12, 2016 2:11_

_Copied from original issue: Azure/azure-messaging-dotnet#9_

[2016-11-15 18:21] jtaubensee opened #6 "Add Transaction Semantics"
_From @vinaysurya on October 12, 2016 2:12_

_Copied from original issue: Azure/azure-messaging-dotnet#10_

[2016-11-15 18:21] jtaubensee opened #7 "Add appropriate Retry policies"
_From @vinaysurya on October 12, 2016 2:13_

_Copied from original issue: Azure/azure-messaging-dotnet#11_

[2016-11-15 18:21] jtaubensee opened #8 "Implement PartitionedEntitySupport for perf"
_From @vinaysurya on October 12, 2016 2:13_

_Copied from original issue: Azure/azure-messaging-dotnet#12_

[2016-11-15 18:31] jtaubensee opened #9 "Implement PeekLock Semantics and CompleteAsync(Guid LockToken) calls"
_From @vinaysurya on October 10, 2016 18:19_

_Copied from original issue: Azure/azure-messaging-dotnet#1_

[2016-11-15 18:31] #9 closed, assigned to vinaysurya

[2016-11-15 18:32] jtaubensee opened #10 "Enable Queue Basic Send/Receive"
_From @vinaysurya on October 10, 2016 18:26_

_Copied from original issue: Azure/azure-messaging-dotnet#2_

[2016-11-15 18:32] #10 closed, assigned to vinaysurya

[2016-11-15 18:32] jtaubensee opened #11 "Simplify BrokeredMessage Class to remove unnecessary Streams and BufferManagers"
_From @vinaysurya on October 10, 2016 18:27_

_Copied from original issue: Azure/azure-messaging-dotnet#3_

[2016-11-15 18:34] #11 closed, assigned to vinaysurya

[2016-11-15 18:34] jtaubensee opened #12 "Enable Topic Basic Send/Receive with PeekLock"
_From @vinaysurya on October 10, 2016 19:8_

_Copied from original issue: Azure/azure-messaging-dotnet#4_

[2016-11-15 18:34] #12 closed, assigned to vinaysurya

[2016-11-15 18:37] jtaubensee opened #13 "Implement Abandon/Deadletter/Defer/RenewMessageLock"
_From @vinaysurya on October 12, 2016 2:2_

Following API Constructs will need to be implemented for this task:
a) AbandonAsync(Guid LockToken) and AbandonAsync(Guid lockToken, IDictionary<string, object> propertiesToModify)
b) DeadletterAsync(Guid lockToken), DeadletterAsync(Guid lockToken, IDictionary<string, object> propertiesToModify) and DeadLetterAsync(Guid lockToken, string deadLetterReason

[2016-11-15 18:37] #13 closed, assigned to vinaysurya

[2016-12-01 07:56] SeanFeldman opened #17 "Running test suite as a whole fails"
Using [latest `master` branch](f2bfa77bd0c38910ddf284305ffb515d534b44ae) I am not able to run the entire test suite.

XUnit test runner result:

![image](https://cloud.githubusercontent.com/assets/1309622/20785687/bef07208-b75e-11e6-949d-822ff396ad5b.png)

Peeked messages:

![image](https://cloud.githubusercontent.com/assets/1309622/20785711/dcecf5b0-b75e-11e6-94e8-7edf04ecabe4.png)

I've modified

[2016-12-01 08:19] SeanFeldman opened #19 "Newly constructed BrokeredMessage has MessageId set to null"
When creating an instance of a `BrokeredMessage`, the `MessageId` should be assigned a unique value.
Currently, it's set to null.

This is breaking/deviating behavior from the current ASB client.

**Update**
After discussing this, the consensus is to allow message Id generator and a way to opt in.

[2016-12-01 21:45] SeanFeldman opened #22 "StyleCop as a Roslyn analyzer"
Let's use Roslyn analyzer for StyleCop rather than a VS addon.
Benefits are:
1. Baked into the project
1. Doesn't require to remember to run it

Here's a link: https://github.com/DotNetAnalyzers/StyleCopAnalyzers

[2016-12-06 17:46] #22 closed, assigned to nobody

[2016-12-06 18:42] SeanFeldman opened #26 "Public API documentation"
Should this be covered by stylecop @jtaubensee?

[2016-12-06 22:46] SeanFeldman opened #28 "Role of BrokeredMessage.version"
This is more of a questions than an issue.
 What's the role of the `BrokeredMessage.version` and how is it supposed to be used?

[2016-12-07 21:22] #28 closed, assigned to nobody

[2016-12-08 00:33] SeanFeldman opened #30 "Remove solution folders for test & src from solution in VS"
This is what it currently looks like

![image](https://cloud.githubusercontent.com/assets/1309622/20992657/c64c6838-bca2-11e6-9dba-79ccd4401604.png)

Each time navigation to the source or test project requires unnecessary expansion of the `src` and `test` solution folders. While it's ok to keep things separated on the file system, is there a real need for this in a VS solution?

Suggest to remove

[2016-12-08 15:33] #19 closed, assigned to nobody

[2016-12-09 19:42] jtaubensee opened #32 "OnMessage Graceful Client Shutdown"
This is a reminder to add functionality to provide a graceful client shutdown. In the full .NET client, when Close is called, a message can still be pushed to OnMessage.

[2016-12-13 23:54] SeanFeldman opened #33 "Abstracting common components for easier testing"
There are scenarios where it would help to be able to test code that relies on ASB client w/o exercising ASB client itself. A few scenarios are:
- Broker not available
- Emulating certain operations to throw exceptions they can raise, but not on demand

With previous client the only option is to wrap everything from ASB to allow mocks/stubs. It would help to have new client to take testability int

[2016-12-14 18:51] #2 closed, assigned to vinaysurya

[2016-12-14 18:57] #8 closed, assigned to vinaysurya

[2016-12-14 19:03] jtaubensee opened #34 "OnMessage Handler"
@vinaysurya to provide more details

[2016-12-14 19:04] jtaubensee opened #35 "OnSession Handler"
@vinaysurya to provide details

[2016-12-14 23:40] #1 closed, assigned to vinaysurya

[2016-12-14 23:40] #3 closed, assigned to vinaysurya

[2016-12-14 23:40] #4 closed, assigned to vinaysurya

[2016-12-15 06:13] SeanFeldman opened #37 "Readme.md should provide local setup instructions"
Instructions should contain prerequisites to set the project up locally.
- Environment variables needed to run tests
- Entities requires for the tests to run
- etc

[2016-12-15 08:42] SeanFeldman opened #39 "Change MessagingEntityType to internal"
Traditionally, this was limited to 4 entity types
1. Queue
1. Topic
1. Subscription
1. Filter

Entities would reside under Namespace.

With the new client, `MessagingEntityType` is adding `Namespace` as an entity. Is namespace truly an entity? Are different concerns mixed together?

[2016-12-15 21:33] SeanFeldman opened #40 "Public API validation"
Related to #39

Minimal public API surface area validation should be automated to ensure that no internal types leaked out.
Suggest we look into [API Approver](https://github.com/JakeGinnivan/ApiApprover) to control the public API surface area, when API Approver supports .NET Standard.

/cc @jtaubensee

[2016-12-16 19:16] SeanFeldman opened #42 "Azure.Amqp vs AMQP.Net Lite"
Currently the project is using [Azure.Amqp](https://github.com/Azure/azure-service-bus-dotnet/blob/a34fbdb62eee0387ab9b08844c089a8ce5e32e26/src/Microsoft.Azure.ServiceBus/project.json#L29) ([repo](https://github.com/Azure/azure-amqp)) that doesn't support TPL. There's a [AMQP.Net Lite package](https://github.com/Azure/amqpnetlite) that supports `netstandard1.3`.
Should AMQP.Net Lite be prefered?

[2016-12-16 23:59] #42 closed, assigned to nobody

[2016-12-17 19:13] SeanFeldman opened #43 "Prefix environment variables with project specific identifier"
Given that one can work on multiple projects that require environment variable, would be nice to have env variables that are easier to identify. This is my environment variables (not the full list) and ASB client project`s env variable is just lost.

![image](https://cloud.githubusercontent.com/assets/1309622/21289117/c10389e0-c451-11e6-9419-1379d7678a09.png)

What if `ConnectionStringEnvironmentV

[2016-12-20 05:25] SeanFeldman opened #46 "Ability to purge a queue"
There are scenarios where purging a queue is necessary
- Testing scenarios
- Removing all messages because they are no longer needed
- Clearing out deferred messages when sequence numbers are no longer retained by an app

Similar functionality: [ASQ`s CloudQueue.ClearAsync()](https://msdn.microsoft.com/en-us/library/microsoft.windowsazure.storage.queue.cloudqueue.clearasync.aspx).

This would appl

[2016-12-21 02:13] vinaysurya commented on #34
API Surface

public void OnMessageAsync(Func<BrokeredMessage, Task> callback);
public void OnMessageAsync(Func<BrokeredMessage, Task> callback, OnMessageOptions onMessageOptions);

OnMessageOptions link:
	https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.onmessageoptions

Defaults:
    MaxConcurrentCalls is 1
	AutoRenewTimeout is set to 5 mins
	AutoComplete is set to true

[2016-12-21 02:15] vinaysurya commented on #34
@SeanFeldman, @jtaubensee  I've added more details for the OnMessageHandler. Please let me know if you need any more details

[2016-12-21 05:12] SeanFeldman commented on #34
@vinaysurya this is great.

1. When `OnMessageOptions.ExceptionReceived` event handler is invoked, it doesn't provide information what  namespace it's using. Having that information in the new client implementation would help for custom fail-over implementation.

2. Registers a callback is using the underlying infrastructure to receive messages. When shutting down a processing endpoint (process),

[2016-12-21 06:40] neerajyadav opened #49 "Create NuGet Package"
Though I hate to mention it under issues, but this is the only place I found.
I think we should now have a pre-release nuget package for it. That way more real customers can try it and you can get more feedback.

[2016-12-21 13:07] onovotny opened #50 "UWP Support"
Despite being a .NET Standard 1.3 library, it doesn't currently work on UWP due to the dependency on `System.Reflection.Emit`. Not all libraries (outside of the NETStandard.Library) necessarily support all plaforms and RefEmit has never been supported on Store/UWP apps.

If you need this as an optimization, can you please cross-compile to a uap10.0 target that has an alternative?

FWIW, using VS 2

[2016-12-21 16:30] jtaubensee commented on #43
closing as part of #41

[2016-12-21 16:30] #43 closed

[2016-12-21 16:30] jtaubensee commented on #37
closing as part of #45

[2016-12-21 16:30] #37 closed

[2016-12-21 16:35] jtaubensee commented on #49
@neerajyadav - I agree with you. This should be coming right after the new year.

[2016-12-21 18:57] terrajobst commented on #50
I second Oren's assessment -- it would be good to avoid the hard dependency on ref-emit. In some cases, you might get away with expression trees as UWP supports those using interpretation. Otherwise, cross-compilation might be the best option.

I'm happy to meet and discuss options.

[2016-12-21 21:23] jtaubensee commented on #35
Removed help-wanted label until details are provided

[2016-12-21 22:46] jtaubensee commented on #50
@onovotny, @terrajobst - The library will actually build without the `System.Reflection.Emit` reference, so I think it was inadvertently kept in the dependencies. Without knowing too much about UWP, if we remove that reference, will we still need to explicitly add the following?
[code]
cc @vinaysurya

[2016-12-21 22:49] jtaubensee commented on #40
On Hold as the library referenced does not support .NET Core/Standard.

[2016-12-21 22:54] onovotny commented on #50
@jtaubensee I believe the Sys.Ref.Emit was the only issue, but the easiest way to test is to create a UWP project and try to install the package :) It'll fail on restore if there's an issue. I don't think you'd need a UWP version.

One suggestion: you may want to use `NETStandard.Library` 1.6.1 as your baseline reference as that does resolve some issues installing into some Xamarin profiles that 1

[2016-12-21 23:02] jtaubensee commented on #50
Thank @onovotny - We can work with that! Expect something after the new year.

[2016-12-21 23:06] onovotny commented on #50
@jtaubensee I'm always happy to help and/or review things, just ping me whenever :)

[2016-12-22 01:53] vinaysurya commented on #34
@SeanFeldman,
1) Sure, we should be able to do this since we have access to the namespace details on the queueclient. But could you please describe more about the failover scenario you mention. Basically today the client automatically retries on exceptions, so even though we surface exception received, the User is not required to take any action and the OnMessagePump carries on with retrying opera

[2016-12-22 05:01] SeanFeldman commented on #34
1. Type of failure - namespace is not available or rate of exceptions/errors is high.
1. Whatever the solution that will be, important to take into consideration that receiving of the messages should stop _and_ completion should be alerted. This could get tricky when AutoComplete is set to false and completion is handle in a custom way. Almost as if the receiver would indicate it's about to close

[2016-12-22 17:47] ddobric opened #52 "More control over abandoned messages"
Hi all,

Sometimes business logic decides that it would be good to retry a message at some latter time.
For this reason it would be very helpful, if Abandon(IDictionary<>) or similar, would be able to set ScheduledEnqueuTimeUtc.

msg.Abandon(new Dictionary<string, object>()
{
{ "ScheduledEnqueueTimeUtc", DateTime.Now.ToUniversalTime().AddMinutes(2) }
});

Right now, this does not work, because onl

[2016-12-22 18:15] SeanFeldman commented on #52
Great suggestion. Also would cut down amount of work that has to be done today on the client-side to get a workaround.

[2016-12-23 16:03] danielmarbach opened #53 "Reevaluate returning List<T> instead of IList<T>"
Similar to

https://github.com/dotnet/coreclr/issues/1579
https://github.com/dotnet/coreclr/pull/4468

Could you reevaluate the usage of `IList` on the APIs called on the hot path? For example in `MessageReceiver.OnReceiveAsync(int maxMessageCount)` you could directly return `List<BrokeredMessage>.` There is no value in abstracting it, not even for inheritors.

Please also consider where you know

[2016-12-31 09:13] damienpontifex opened #55 "Message scheduling and cancellation"
I believe this is covered for "Sprint 5: Early 2017" but just checking in to see if this functionality is planned. I need functionality as discussed in [Canceling Scheduled Messages](https://blogs.msdn.microsoft.com/servicebus/2016/07/11/cross-post-canceling-scheduled-messages/) and I assume the `SequenceNumber` property is not valid for using to cancel as suggested in the article.

Is the API for

[2016-12-31 17:42] SeanFeldman commented on #55
Would be also nice to see this functionality with `MessageSender` for the cases where messages sent to both queues and topics.

[2017-01-03 09:25] HansOlavS commented on #52
+1 from me.

It's a non-trivial thing to do this unless you're using the built-in lock time of the message and simply not abandoning it (so it times out and is picked up again). This method has several drawbacks because you can only have 7 minutes lock time (sometimes you want to wait longer before retrying) and a message also has a max retry count (sometimes you want to retry within a time frame

[2017-01-03 15:34] SeanFeldman commented on #53
Title is misleading. Sounds like it should have been "Reevaluate returning List<T> instead of IList<T>".

[2017-01-03 20:48] danielmarbach commented on #53
Fair enough, changed

[2017-01-03 22:20] jtaubensee commented on #30
Closing this issue. One other thing to note, is that there is the need for multiple projects inside the solution as the library closes. I am getting ready to submit a PR that will have a UWP test project, and I can see a future where there are Service Bus extensions that might reside in the same repo/solution.

[2017-01-03 22:20] #30 closed

[2017-01-03 22:37] jtaubensee commented on #55
@damienpontifex - Yep, you can expect to see this in the coming weeks/months. I will leave this issue open since there isn't already another to track it.

@SeanFeldman - That's another issue at this point, as MessageSender/Receiver are currently abstract classes. https://github.com/Azure/azure-service-bus-dotnet/blob/master/src/Microsoft.Azure.ServiceBus/MessageSender.cs#L11

I'm guessing there wi

[2017-01-03 23:29] SeanFeldman commented on #55
Link? 😛

[2017-01-03 23:35] SeanFeldman opened #57 "Can't use MessageSender & MessageReceiver"
## Expected Behavior
Use `MessageSender` and `MessageReceiver` to send/receive messages.

## Actual Behavior
Classes are abstract and cannot be used.

Version: [current master](https://github.com/Azure/azure-service-bus-dotnet/blob/fc95ccf00125fd7046b121aeb8ac5b025c1454c5/src/Microsoft.Azure.ServiceBus/MessageReceiver.cs#L12)
Commit: https://github.com/Azure/azure-service-bus-dotnet/commit/a34fbdb

[2017-01-03 23:36] SeanFeldman commented on #55
New issue raised here: #57

[2017-01-04 09:07] ddobric commented on #52
Regarding Defer(), you are right. But this is an additional required improvement. Defer introduce more problems than it helps, in that case. My intension around Abandon() is to provide us features, which do not require so much programming and introducing additional artifacts like DB.
With Deffer(TimeSpan), I mean postponing of the message at scheduled time, without of need to keep reference of it.

[2017-01-04 17:44] jtaubensee commented on #17
PR's #47, #58, #59, should now provide us with an automated build. Once this builds successfully, we can close this issue. I think to your point @SeanFeldman, there are a couple of tests that are throwing errors. Will update once the build finishes.

[2017-01-05 19:12] jtaubensee commented on #17
Here are the 4 failing AppVeyor tests:

https://ci.appveyor.com/project/jtaubensee/azure-service-bus-dotnet/build/1.0.28

* `TopicClientPeekLockWithAbandonTestCase(topicName: "partitioned-topic")`
* `TopicClientReceiveDeleteTestCase(topicName: "partitioned-topic")`
* `TopicClientPeekLockDeferTestCase(topicName: "partitioned-topic")`
* `TopicClientRenewLockTestCase(topicName: "partitioned-topic")`

[2017-01-05 23:43] jtaubensee commented on #17
Fixed by #61

[2017-01-05 23:43] #17 closed

[2017-01-06 00:17] vinaysurya commented on #53
I hear conflicting guidelines about these:
1) From looking at the guidelines at the link below it looks it is recommended that we offer more generic interfaces instead of specific ones.
   https://msdn.microsoft.com/en-us/library/dn169389(v=vs.110).aspx
2) OTOH, I also hear argument about being generic in the input path where as being as specific as possible in the output path.

So although I see

[2017-01-06 18:31] binzywu commented on #57
Hi @SeanFeldman, could you please elaborate a little more about the scenarios that you will need this?

[2017-01-06 18:33] binzywu commented on #52
can this be achieved by re-send the current messages as scheduled messages and complete the current message?

[2017-01-06 23:05] SeanFeldman commented on #52
@binzywu it introduced overhead that needs to be taken into consideration and coded each time. Because it's no longer a single message based operation, you need to have a transaction. Rather than just using `Defer(timespan)`.
Also, from a tracking point of view, you want to handle the same message, just later. Saying that, @djrosanova made a good point saying that ASB doesn't mutate messages. But

[2017-01-06 23:11] SeanFeldman commented on #57
Absolutely @binzywu
When a process is receiving messages, it handles messages from queues and subscriptions. The process doesn't differentiate the entity type messages come from as messages contain information required for proper processing. Same is applied for sending, messages are sent out using a path, w/o differentiating if destination is a topic or a queue.

With both `MessageSender` and `Mes

[2017-01-08 14:15] m2web opened #64 "Error MSB4025 when deploying ASP.Net MVC .Net Core app"
I am trying to deploy an ASP.Net MVC .Net Core app that was created on an Ubuntu 16.04 system in Visual Studio Code. When attempting to push local git deployment to my Azure app to its Azure App Service.
In the project’s root directory, I ran the following:
`git push -u azure master`
and got the following:

I got an almost identical error message when deploying from the identical repo on Bitbucket

[2017-01-09 10:36] sealightPT opened #65 "Management Operations"
In .Net we had a NamespaceManager and we could do things like:

[code]
How can we do it with this .Net Standard library?

[2017-01-09 17:32] jtaubensee commented on #65
Hi @sealightPT - So far we have decided not to include management operations in this library. As a part of Azure Resource Manager, we now have multiple ways to dynamically provision/manage entities.

The functionality you are looking for is now included in the `Microsoft.Azure.Management.ServiceBus` library:

* GitHub repo - https://github.com/Azure/azure-sdk-for-net/tree/AutoRest/src/ResourceMana

[2017-01-09 17:37] jtaubensee commented on #64
@m2web - Is this a question about Azure Service Bus?

[2017-01-09 17:41] m2web commented on #64
No, about Azure Continuous Integration when deploying.

[2017-01-09 17:57] SeanFeldman commented on #65
I can see this question repeating itself in the future. Perhaps README.MD should contain a link/reference to the new management library/samples @jtaubensee ?

[2017-01-09 17:59] jtaubensee commented on #64
@m2web - This repo is specifically for the Azure Service Bus .NET standard client, so unfortunately we will not be able to help you here. I also do not believe that there is a GitHub repo for Azure websites that will be able to take this question, so your best bet is Azure support or StackOverflow.

[2017-01-09 17:59] #64 closed

[2017-01-09 18:01] jtaubensee commented on #65
Good point @SeanFeldman - I will add that.

[2017-01-09 18:31] vinaysurya commented on #34
@SeanFeldman,

1) It looks kind of odd to expose a namespace name on a queueclient api. We could however expose both the namespace name and the queuename as part of the ExceptionReceivedEventArgs as part of the ExceptionReceived handler.
2) Sure, I totally agree that we should give a chance for the OnMessageHandler to perform some cleanup before the client is shutdown(atleast shutdown any further

[2017-01-09 19:27] jtaubensee commented on #65
Closing based on #66

[2017-01-10 00:04] jtaubensee commented on #5
This issue tracks implementation of the following public API's:

[code]

For the following classes:
1. MessageReceiver
1. QueueClient
1. SubscriptionClient

[2017-01-10 00:05] #5 closed, assigned to vinaysurya

[2017-01-17 18:05] sealightPT commented on #49
@jtaubensee - When can we expect to have this library on NuGet?

[2017-01-17 18:36] jtaubensee commented on #49
@sealightPT - I'm currently working to solve 2 issues that are related to our internal process:
* Adding the strong name certificate to our repo
* Verifying that our library is compliant with Microsoft guidelines

As soon as I have these worked out, I will create a NuGet release. Until then, my apologies for the delay.

[2017-01-18 03:36] SeanFeldman opened #67 "Path and Name confusion"
This is more of a question/discussion issue.
With the old client, there was somewhat of a confusion around Path and Name.

#### Queues

`this/is/a/queue`
[path](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queuedescription#Microsoft_ServiceBus_Messaging_QueueDescription_Path): `this/is/a/queue`

#### Topics
`a/b/c`
[path](https://docs.microsoft.com/en-us/dotnet/api/mi

[2017-01-18 14:33] snboisen opened #68 "Extend API for BrokeredMessage: IsReceived bool property"
The BrokeredMessage API is problematic in the sense that there are several public properties that may throw exceptions, when attempting to read them. This includes all the properties that are only available for a BrokeredMessage that has been sent by Service Bus.

## Scenario ##

I am currently attempting to write a generic WebAPI MediaTypeFormatter for BrokeredMessage. With the current API, this

[2017-01-18 20:20] binzywu commented on #57
@SeanFeldman, @nemakam will be working on this.

[2017-01-18 20:24] binzywu commented on #68
@snboisen mind to explaining a little more of your scenario?

[2017-01-18 22:20] SeanFeldman commented on #57
👍 @binzywu
I'll be following the PR the moment it shows up.

[2017-01-19 14:18] danielmarbach commented on #53
@vinaysurya

Here is my totally personal take on this. The framework guidelines are great for general purpose libraries/frameworks and user-centric code. But here we are talking about essentially a communication library which is going to be used in many application and systems out there. I think a communication library or driver should be as optimised as possible without necessarily sacrificing th

[2017-01-20 10:11] snboisen commented on #68
Sure! We have an ASP.NET WebAPI webservice running in Azure App Service. It uses Azure Service Bus queues to communicate with an App Service WebJob.

I am adding some diagnostic calls to the service, so that I can inspect the queues and peek on the messages they contain. So I have written a WebAPI `MediaTypeFormatter` for serializing the messages along with their headers.

It is when I serialize t

[2017-01-20 14:51] galvesribeiro commented on #49
Hello @jtaubensee, do you have an ETA for the first (even preview) release for the nuget packages?

We want to upgrade our ServiceBus stream provider in *dotnet/orleans* to support `netstandard`.

Thanks!

[2017-01-20 16:44] jtaubensee commented on #49
@galvesribeiro - Unfortunately I don't. Best case scenario it could happen on Monday, worst case it could be 2 weeks out. And to clarify this package will definitely be considered preview. #72 will allow you to strong name sign the package the same way that we do, in case you are looking to try this out ASAP.

[2017-01-20 17:21] galvesribeiro commented on #49
@jtaubensee Thanks for get back.

I understand. We at Orleans have the same process to follow by getting our packages codesigned to comply MSFT guidelines.

Unfortunately, we can't build from source and use as reference, since it will become a direct dependency on our projects in Orleans and the users wont be able to do the same.

Ok, I hope you can get it out asap.

Thank you, looking forward to

[2017-01-20 17:57] jtaubensee opened #73 "Failing CI / Unit Tests"
These tests are currently failing in AppVeyor:
* .NET Core:
  * QueueClientTests.BasicRenewLockTest("non-partitioned-queue")
  * QueueClientTests.BasicRenewLockTest("partitioned-queue")
  * QueueClientTests.PeekLockDeferTest("partitioned-queue")
  * TopicClientTests.TopicClientRenewLockTestCase("non-partitioned-topic")
  * TopicClientTests.TopicClientRenewLockTestCase("partitioned-topic")
  * Topi

[2017-01-21 03:43] vinaysurya commented on #73
@jtaubensee, sent a fix for what I think was causing this issue

https://github.com/Azure/azure-service-bus-dotnet/pull/74/files

[2017-01-23 18:41] jtaubensee commented on #73
The latest build passed: https://ci.appveyor.com/project/jtaubensee/azure-service-bus-dotnet/build/1.0.86

[2017-01-23 18:41] #73 closed

[2017-01-26 22:34] jtaubensee commented on #68
@snboisen - We should be able to expose this functionality pretty easily, by making the `BrokeredMessage.IsLockTokenSet` property public. Expect this by our first NuGet package release.

[2017-01-26 22:42] jtaubensee commented on #67
@SeanFeldman - What you are saying makes sense. Would it be more clear if we just provided the name and got rid of the path all together? Is there any scenario you can think of where the path is particularly important?

[2017-01-26 22:43] jtaubensee commented on #55
Closing this issue based on PR #69

[2017-01-26 22:43] #55 closed

[2017-01-26 22:58] jtaubensee commented on #52
@ddobric - This is something that we can revisit when both .NET Core and AMQP supports transactions. We could easily implement a method to do what you are talking about. We would create a transaction, complete the message, and send a scheduled message.

[2017-01-26 23:05] jtaubensee commented on #46
This is something we can revisit in the future. We currently have an internal project that would make this much easier for us. The project will manage state against partitions.

[2017-01-26 23:08] jtaubensee commented on #39
You are correct. We will remove namespace as there are not currently any management operations, and we can also make the `MessagingEntityType` enum internal.

[2017-01-26 23:10] jtaubensee commented on #34
PR #75 is in progress

[2017-01-26 23:14] jtaubensee commented on #32
See PR #75

[2017-01-27 00:34] SeanFeldman commented on #68
@jtaubensee this could be a community contribution with a bit of guidance from the team 😉

[2017-01-27 00:38] SeanFeldman commented on #67
Path makes more sense to me tbh as it can have segments (separated by `/`).
The outlier is subscriptions. Since they have a segment that breaks that pattern therefore there's a name that makes sense. I'd like to keep a name for subscriptions since at the application level you refer to a subscription by its name, not path. Hence the suggest to have a `FullPath`. What does the team say?

[2017-01-27 00:40] SeanFeldman commented on #52
@jtaubensee I think you wanted to link to issue #6? 😉

[2017-01-27 00:42] SeanFeldman commented on #46
Where's the OSS community in "us" when it's internal? Sharing is carrying, right? 😃

[2017-01-27 00:43] SeanFeldman commented on #39
👍 for internalizing the `enum`. It shouldn't be public.
Which should be resolved with #40, eventually.

[2017-01-27 06:39] SeanFeldman commented on #68
`BrokeredMessage.IsLockTokenSet` vs `BrokeredMessage.IsReceived` reads very differently. This is where I'd agree with @snboisen that from a user point of view, `IsReceived` makes more sense.

Also, `IsLockTokenSet` cannot be used. When in `DeleteAndReceive`, a message that is _recieved_ will have `IsLockTokenSet = false`. Which is wrong, since message was received.

I'm working on PR #78 for this.

[2017-01-27 06:49] SeanFeldman opened #79 "PR builds do not log (execute?) tests"
## Expected Behavior

To see test results

## Actual Behavior

Example: [sample output](https://ci.appveyor.com/project/jtaubensee/azure-service-bus-dotnet/build/1.0.138/tests)

[2017-01-27 09:21] snboisen commented on #68
@jtaubensee As @SeanFeldman wrote, IsLockTokenSet will not match the desired definition, since a Peek'ed message should return false from IsLockTokenSet even if it is received and received headers such as DeliveryCount are available.

But with that said, I would actually also like to see IsLockTokenSet made public, since that would allow me to get rid of more ugly code:

[code]

So in summary, I w

[2017-01-27 16:53] jtaubensee commented on #79
@SeanFeldman - This is part of the AppVeyor build model. We use secure environment variables, that could be potentially exposed with a Console.WriteLine in the unit tests. Thats why we do not build public PR's and any development from our team is done on a branch in this repo (allowing it to be built).

[2017-01-27 16:53] #79 closed

[2017-01-27 17:08] jtaubensee commented on #46
The project I am referring to is for our cluster management. It will simplify transactions across shards, allowing us to better ensure that messages have been purged from all.

[2017-01-28 04:45] SeanFeldman commented on #79
@jtaubensee wasn't this addressed by the fact that each build spins up and tears down a new namespace?

[2017-01-30 16:28] jtaubensee commented on #79
No, because there are still credentials that are tied to our Azure Active Directory App, and are consistent between builds.

[2017-01-31 20:00] nemakam commented on #57
You can track the changes in PR #82

[2017-01-31 20:00] nemakam commented on #33
You can track the changes in PR #82

[2017-02-02 21:12] jtaubensee commented on #40
Let's close this for now, no need to keep an issue open for a library that may or may not support .NET core. This is something we can revisit when the library is closer to GA. While we want to limit the API changes as much as possible, we dont currently have a contract since the library is in preview.

[2017-02-03 15:35] #68 closed

[2017-02-10 00:31] chadwackerman commented on #49
Any news on this?

[2017-02-10 21:50] jtaubensee opened #87 "Simple vs. advanced API set"
Created a new issue from #57.

Since this is a new client, our team has taken some time to reevaluate the current usage of our past library, and we want to make this new one as simple as possible. In order to do so, we are planning to use clients (i.e. Queue, Topic, Subscription) for general messaging scenarios, while using message senders/receivers for more advanced scenarios. As such we are prop

[2017-02-10 21:51] jtaubensee commented on #57
Closing in favor of #87

[2017-02-10 22:50] jtaubensee commented on #49
Hey Everyone - Thanks for your patience on this. We are going to hold off for a while; we have some potential major changes coming. See #87. We would rather not release, only to break what was released.

[2017-02-10 23:44] chadwackerman commented on #49
The issue is that a .NET Core app that needs to talk to ServiceBus is totally blocked in the meantime. By way of example Amazon Web Services provides a much larger set of services that Azure however they managed to ship .NET Core support for everything in Summer 2015. This past August they even lowered the requirement to .NET Standard 1.3.

This puts me in the odd position where I can fully automa

[2017-02-11 01:02] jtaubensee commented on #49
@chadwackerman - I totally understand where you are coming from. Our concern is that if we release something today, then we drastically change the programming model tomorrow, customers would be resistant to those changes (since we are drastically breaking APIs).

While we re-design our clients, the best solution for you would be to build your own NuGet package. You can run the `dotnet pack` comman

[2017-02-11 01:53] chadwackerman commented on #49
That's a fantastic mindset and I applaud it but I'm also going to point out that it's 2017 and I can't send a BrokeredMessage to a Queue from my Linux batch worker node.

You're aesthetic bathroom remodel is surely going to be fabulous but doing it this way turns GitHub into Tumblr, with a bunch of people clicking thumbs up or thumbs down while you pick out floor tile that we can't even walk on.

[2017-02-11 05:04] SeanFeldman commented on #49
Then why are you taking all of your frustration on this team? ASB team is fixing what should have fixed looong time ago. Yes, long overdue, but they do it. And not only it's taking place in open, but also allow the community to participate and drive the design _and_ implementation. Yes, that includes **YOU** as well.

Now let me ask you a simple question. Would you rather wait another N months wai

[2017-02-11 05:34] chadwackerman commented on #49
If you want to have a long-winded group discussion about what ServiceBus should be, what it should be called, how much it should cost, what development tools should be provided, what features it should have -- maybe spread a little misinformation about AWS queue technologies -- then sure, let's see what "open development" can do. But that's not at all what we're discussing here.

We're talking abo

[2017-02-11 05:35] SeanFeldman commented on #87
👍

@jtaubensee are you omitting the following on purpose from client?

- `Path`
- `AbandonAsync(Guid, IDictionary<String, Object>)`
- `DeadLetterAsync(Guid, string, string) / DeadLetterAsync(Guid, IDictionary<String, Object>)`
- `DeferAsync(Guid, IDictionary<String, Object>)`
- `FormatDeadLetterPath(String)`

And the following:
- Batching
- Sessions
- `PeekAsync(*)`
- `SendAsync(BrokeredMessage)`

[2017-02-11 05:55] SeanFeldman commented on #49
SQS supports transport transactions? Yes or no?

@chadwackerman The point I'm trying to make is coming and shooting off the hip will not get you want.

My customers that use ASB have other concerns, that are not Linux or REST related. Does that mean those are cases to dismiss because your way or high way? People adopt Azure in various ways.

[2017-02-11 06:03] chadwackerman commented on #49
Amazon decided to go AMQP which is where Microsoft was headed when they announced they were killing this library last summer. Only to have it reappear right before the holidays. So here we are.

Are you suggesting that not having a NuGet package where people can try this out as improvements are discussed somehow makes for better discussion? Because in addition to seeing no technical suggestions I'

[2017-02-11 06:22] SeanFeldman commented on #49
You haven't answered the question @chadwackerman

[2017-02-11 06:44] chadwackerman commented on #49
What's the question? That Amazon provides .NET Core library for SQS, that Pivotal provides a .NET Core library for RabbitMQ, and Microsoft does not provide a .NET Core library for ServiceBus and that's somehow related to the fact that ServiceBus provides transactions over received messages (oops it can't) or somehow magically wraps a transaction around around a SQL update (in our dreams)? Because

[2017-02-14 15:10] BrianVallelunga commented on #49
I was waiting for this library to release a .NET Core port of an app as well. I ended up having to release early so I used the AMQPNetLite Nuget package to communicate with the service bus. If your needs are simple, such as just sending a message to a queue or topic, it's trivial to implement.

[2017-02-14 18:08] jtaubensee commented on #49
@BrianVallelunga - That is a good idea, and unfortunately the temporary work around until we have a released library.

@chadwackerman - I do apologize that this is an inconvenience for you. I too wish that we had this library earlier. One thing that I would like to clear up though is the following:

This library is not a REST wrapper. The primary protocol of our service is AMQP, as this provides f

[2017-02-14 21:59] jtaubensee commented on #87
Hey @SeanFeldman,

I think the goal is to start with the simplest API possible. And worst case scenario, we can always add something back in. I think the most important piece is that we establish, that the clients are the simple Service Bus programming model, and Sender/Receiver are for more advanced scenarios.

Regarding:

Yes, we are. At least to start with. These would still be available in the

[2017-02-14 22:00] jtaubensee commented on #50
On hold until #87 is closed.

[2017-02-14 23:01] chadwackerman commented on #49
https://twitter.com/jtaubensee/status/826630044520849412

You're using Twitter to solicit feedback on class names?

Next Linus Torvalds will use SnapChat to sort out video driver architecture. Then Elon Musk can sort out SpaceX rocket nozzle alloys on Pinterest.

[2017-02-15 17:45] banisadr commented on #49
@chadwackerman we appreciate that you feel so passionately about this topic, however this is an avenue for constructive feedback, not personal attacks. Please limit your comments to well thought-out, adult feedback relevant to the product/issue and refrain from harassing other contributors.

For more information, please refer to the [Microsoft Open Source Code of Conduct](https://opensource.micros

[2017-02-16 01:38] chadwackerman commented on #49
@banisadr The issue here is process, and in order to improve process you have to cite examples. Sorry if someone got embarrassed. But shining a flashlight isn't an attack.

I would propose that all discussions regarding this library happen on GitHub. Especially really important issues that are blocking it from being shipped. Such as how to rename the class factory.

I'm not saying it's the case he

[2017-02-22 21:40] affandar opened #88 "Add transaction support for sessions/messaging"
## Actual Behavior
System.Transactions is not present in dotnet core and hence the service bus dotnet core client does not support transactions.

## Expected Behavior
We would have some counterpart for System.Transactions.Transaction in the dotnet core world.

## Versions
All

[2017-02-22 21:58] jtaubensee commented on #88
Duplicate of #6

[2017-02-22 21:58] #88 closed

[2017-02-22 21:59] jtaubensee commented on #6
.NET Core is now able to support transactions, so we will need to provide transaction support using AMQP in our service.

[2017-02-22 22:04] SeanFeldman commented on #6
So [2.0](https://github.com/dotnet/corefx/issues/2949)

[2017-02-22 22:13] affandar commented on #6
+1

Transaction support is necessary for workflow scenarios e.g. durabletasks and WF. Right now we are blocked on porting durabletasks to dotnet core due to this issue.

[2017-02-22 22:22] jtaubensee commented on #6
Yeah so while transactions will be coming to .NET Core soon, we will still need to add support for transactions using AMQP in our service.

Hence, the need for this section in the article here: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-dotnet#unsupported-features-restrictions-and-behavioral-differences

Based on the current priorities in this library (shipping o

[2017-02-23 06:38] SeanFeldman opened #89 "Review how Peek is working"
There are 3 types of messages that can be found on a queue
1. Ready for processing
2. Delayed (`ScheduleEnqueueTimeUtc` set in future)
3. Deferred (only can be received by `SequenceNumber`)

When messages are enqueued in the future, they cannot be received.
When messages are peeked, future messages are fully returned (headers & body).
For scenarios when there are many future messages, peek becomes

[2017-02-23 06:43] SeanFeldman opened #90 "Suggestion: a separate GH repo for ASB server side issues"
This repository is designated for the client.
There's no repository (for now) for the broker (server) side issues.
While there's a [UserVoice](https://feedback.azure.com/forums/216926-service-bus) forum, it is abandoned and doesn't serve its purpose as well as GH does.

I suggest to open a separate GH repo for the ASB server side for issues. It will allow tracking/reporting/linking/notification th

[2017-02-25 00:17] jtaubensee commented on #34
Addressed by #92

[2017-02-25 23:33] SeanFeldman commented on #34
@jtaubensee not quite. [These](https://github.com/Azure/azure-service-bus-dotnet/issues/34#issuecomment-271365034) are not addressed yet as #92 is sheer copy of the original OnMessage implementation.

[2017-02-27 21:50] ardalis opened #93 "Update Projects to VS2017"
## Actual Behavior
1. Projects use project.json

## Expected Behavior
1. Projects use .csproj

## Versions
- OS platform and version:
- .NET Version:
- NuGet package version or commit ID:

[2017-02-27 21:52] jtaubensee commented on #93
Hi @ardalis - We will probably do this shortly after VS 2017 is released on March 7th.

[2017-02-27 21:55] ardalis commented on #93
Sounds good. I just opened the solution in the latest RC of VS2017 and everything converted over fine. However, I am getting a zillion (well, 434) roslyn analyzer errors. Currently trying to figure out how to turn those off...

[2017-02-27 21:58] ardalis commented on #93
(apparently deleting the Stylecop package does the trick)

[2017-02-27 22:02] jtaubensee commented on #93
Ha - We hopefully be able to revert what we did with #22, with the editor config settings.

https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options

Also, maybe this project will come back? [dotnet/codeformatter](https://github.com/dotnet/codeformatter)

[2017-02-27 22:08] jtaubensee commented on #46
This issue was moved to Azure/azure-service-bus#1

[2017-02-27 22:08] #46 closed

[2017-02-27 22:17] jtaubensee commented on #6
Created a service level issue at [azure-service-bus/#2](https://github.com/Azure/azure-service-bus/issues/2) to track.

[2017-02-27 22:20] jtaubensee commented on #90
Sure, check out [azure/azure-service-bus](https://github.com/azure/azure-service-bus)

[2017-02-27 22:20] #90 closed

[2017-02-27 22:25] SeanFeldman commented on #90
To clarify, https://github.com/azure/azure-service-bus will be used for both, server and client side.

[2017-02-27 22:30] jtaubensee commented on #90
Client side in what sense? The idea is that it would be used for:
* Service side issues and feature requests
* Samples
* Documentation issues

[2017-02-27 22:32] SeanFeldman commented on #90
Got it. So the https://github.com/Azure/azure-service-bus-dotnet remains for the client. Right?

[2017-02-27 22:35] jtaubensee commented on #90
Definitely. The only difference from how we've been working thus far, is that we now have a place for those things that seemed to be lacking a home previously.

[2017-02-27 22:37] SeanFeldman commented on #90
👍
basically it's `azure-service-bus-!client` 😃

[2017-02-27 23:18] vinaysurya commented on #34
@SeanFeldman, we have tried to address a couple of things differently,
1) Close the messagereceivepump when the client is closed.
2) Also provide the User callback with a CancellationToken, so that their callback is aware if a cancellation has been called. They can check that before calling say a Complete operation and seeing an exception.

[2017-03-01 00:43] jtaubensee commented on #32
Addressed in #92 instead. This should provide a graceful shutdown using a cancellation token.

[2017-03-01 00:43] #32 closed

[2017-03-01 00:46] jtaubensee opened #94 "Namespace name in the OnMessage exception handler"
Creating a new issue from part of #34.

Verbatim from @seanfeldman:

[2017-03-01 00:47] jtaubensee commented on #34
Closing based on #92

[2017-03-01 00:47] #34 closed

[2017-03-01 15:58] kherrgcmlp commented on #49
Hi team,

I just wanted to thank you for all your work on this project. I'm looking forward to seeing a pre release/release of this project.

I'm building a small POC that will greatly benefit from this project.

:+1:

[2017-03-03 16:48] SeanFeldman opened #96 "Optional: code coverage"
Not a must-have, but nice to visualize what is being tested (or not).

A tool such as https://codecov.io/ could help to visualize test coverage (supports XUnit and AppVeyor used by this project).

[2017-03-06 19:24] nemakam commented on #57
Reopening the issue since MessageSender and MessageReceiver are made internal in #87 .

[2017-03-06 20:28] ncarandini opened #97 "Unexpected default behavior of QueueClient.OnMessage (ReceiveAndDelete instead of PeekLock)"
## Preamble
`ClientQueue` has a property `Mode` of type `ReceiveMode`:

[code]
and the `PeekLock` mode is indeed the default mode when requesting a message from the client, i.e. with something like this (from the [Apps that use queues](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-create-queues) example):

[code]

## Issue
When using `QueueClient.OnMessage(Action<Brokere

[2017-03-07 03:35] SeanFeldman commented on #97
@ncarandini 👍 for better documentation. The current client (not this repo) is doing a [horrible job](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.onmessageoptions#Microsoft_ServiceBus_Messaging_OnMessageOptions_AutoComplete).

But to be fair, this client in this repo is providing the [xmldoco](https://github.com/Azure/azure-service-bus-dotnet/blob/0c8c472102633f078518

[2017-03-07 10:17] ncarandini commented on #97
Ops, I totally missed it!
I just found the [How can we improve the Windows Azure Service Bus?](https://feedback.azure.com/forums/216926-service-bus/suggestions/6948939-open-source-microsoft-servicebus-dll-windowsazure) where you explain that the current client is not on GitHub.

Thanks a lot for your clarifying comment.

I'll close this issue as is unrelated to this repo. Sorry for the mess.

[2017-03-09 16:57] ncarandini commented on #97
Hi @jtaubensee, I cloned this repo and saw that the same issue is present here.
Now that I've more things to say, pointing to specific code lines of `MessageReceiver.cs` , `OnMessageOptions.cs`, `MessageReceivePump.cs` and `QueueClient.cs`.
Do you prefer me to open a new issue or reopen this one, removing (by you, if you'll think is ok) of the invalid tag ?

[2017-03-09 17:05] ncarandini commented on #97
Thanks @jtaubensee,
I'll procede here :-)

[2017-03-09 17:10] jtaubensee commented on #97
Hi @ncarandini -

So the default behavior is still peek lock, however we default the value `OnMessageSettings.AutoComplete` to true. This means that when the `OnMessage` callback exits, `Message.Complete` is called. If you were to call `Message.Abandon` or `Message.Defer` inside of your `OnMessage` callback, the message would still exist on the queue.

`ReceiveDelete` means that when the message i

[2017-03-09 18:00] ncarandini commented on #97
As stated before, I do think that the default mode of the OnMessage should be PeekLook.
Here are my proposals:

### Set AutoComplete to false as the default value
Looking at the `OnMessageOptions.cs` we see that the constructor set the default options:

[code]
The easiest things will be to change it to:

[code]
or to add a line in the `Microsoft.Azure.ServiceBusCostants` class and reference it:
[c

[2017-03-09 22:47] jtaubensee commented on #97
@ncarandini - Did you see my previous message? I understand what you are saying, however there seems to be a disconnect.

Today, there are two different receive modes in Service Bus. Below is a description of each:
* [`PeekLock`:](https://docs.microsoft.com/rest/api/servicebus/peek-lock-message-non-destructive-read)

* [`ReceiveAndDelete`:](https://docs.microsoft.com/rest/api/servicebus/receive-an

[2017-03-09 22:52] jtaubensee commented on #89
Hey Sean - I think the default behavior is probably correct. In most cases, users just want the next message that is available for processing, and that's also what we recommend. I realize that there are other types of messages that can be stored (deferred or scheduled), but it is costly for us to return messages by the SequenceId. We are essentially doing a scan of a table for that, which does hav

[2017-03-09 23:08] jtaubensee commented on #33
This was addressed by #95

[2017-03-09 23:08] #33 closed

[2017-03-09 23:11] jtaubensee commented on #53
Hi @danielmarbach - This is not an optimization that feel comfortable making now. The good news is that since we would move from IList to List, this would not be a breaking change in the future. We can always reopen if needed. Thanks for the idea though!

[2017-03-09 23:11] #53 closed

[2017-03-09 23:12] jtaubensee commented on #39
Marking this as a bug, to change `MessagingEntityType` to internal

[2017-03-09 23:14] jtaubensee commented on #7
Doing some cleanup @SeanFeldman - Is this what you were looking for?
https://github.com/Azure/azure-service-bus-dotnet/blob/dev/src/Microsoft.Azure.ServiceBus/Primitives/RetryPolicy.cs

[2017-03-09 23:26] jtaubensee opened #98 "Change Message.Body type to byte[]"
## Actual Behavior
* In the [.NET framework client](https://www.nuget.org/packages/WindowsAzure.ServiceBus/) a `BrokeredMessage` can be a serialize-able object, or a stream.

## Expected Behavior
* Change `Message` to only support `byte[]`
* We are proposing that the `Message` class be closely related to the Event Hubs [`EventData`](https://github.com/Azure/azure-event-hubs-dotnet/blob/dev/src/Mic

[2017-03-09 23:29] jtaubensee commented on #87
This was completed in #95 and the next steps of this are:
* #57 - Updating the `MessageSender` and `MessageReceiver`
* #98 - `Message` refactoring

[2017-03-09 23:29] #87 closed

[2017-03-09 23:30] jtaubensee commented on #96
@SeanFeldman - I like this idea. Let's keep it on the backlog.

[2017-03-09 23:57] SimonCropp commented on #98
why is this the case? cant the data be streamed all the way to the remote receiver? meaning the full byte array would never need to exist in memory

[2017-03-10 01:27] jtaubensee commented on #98
@SimonCropp - Yes, that is correct. [Here](https://github.com/Azure/azure-service-bus-dotnet/blob/dev/src/Microsoft.Azure.ServiceBus/Amqp/AmqpMessageConverter.cs#L371) we actually call [StreamToBytes](https://github.com/Azure/azure-service-bus-dotnet/blob/dev/src/Microsoft.Azure.ServiceBus/Amqp/AmqpMessageConverter.cs#L542) which will convert any stream to a `byte[]`.

[2017-03-10 01:31] SimonCropp commented on #98
cant the data be streamed all the way to the remote receiver? meaning the full byte array would never need to exist in memory

[2017-03-10 01:35] jtaubensee commented on #98
AMQP doesn't actually accept `Stream` as a data type, so our implementation of it in the past was just a "nice" feature for users. So either way we are holding the message in memory.

[2017-03-10 01:39] SimonCropp commented on #98
so compat with AMQP is of a higher priority then performance?

[2017-03-10 04:33] SeanFeldman commented on #7
👍 good to close

[2017-03-10 04:36] SeanFeldman commented on #89
That is correct. jtaubensee. An ability to peek for messages w/o deffered and scheduled in the future messages coming back.

[2017-03-10 04:37] SeanFeldman commented on #89
I wonder if this should be raised in https://github.com/Azure/azure-service-bus/ as well to have the support on the server side.

[2017-03-10 07:10] ncarandini commented on #97
Hi @jtaubensee,
thanks for your kind explanation, now I can better understand the historical reasons of the default value of true of the AutoComplete option.

Nevertheless, while I can understand this is a safety rail for beginners, I still think this is misleading for most developers. On my opinion, using the library message pump vs. manually requesting a message shouldn't change the behaviour se

[2017-03-10 14:20] papatoob opened #99 "SubscriptionClient - GetRules"
Hello everyone and thanks for the effort here.

First I want to state that I don't really have a lot of experience in working with the Azure Service Bus, so maybe I'm headed in the wrong direction. That said, will there be (or is there already) a way to remove rules from a SubscriptionClient without knowing their names? This could, of course, be achieved manually by iterating over the existing rul

[2017-03-10 17:39] jtaubensee commented on #97
@ncarandini - To be clear, `AutoComplete` is only ever used for `OnMessage` / Receive pump (which are two words for the same thing). `AutoComplete` is not a property for `ReceiveAsync()`.

What we are talking about here are two different things. Just because `AutoComplete` is set to true, does not mean that the `ReceiveMode` becomes `ReceiveDelete`. It simply means that we call `Message.Complete()

[2017-03-10 17:58] jtaubensee commented on #99
@papatoob - Are you trying to do that in this library, which is `Microsoft.Azure.ServiceBus` and not the full .NET Framework library [`Microsoft.ServiceBus.Messaging`](https://docs.microsoft.com/dotnet/api/microsoft.servicebus.messaging.subscriptionclient) (which does not have a GitHub repo)?

Either way, it is not supported today, but it might be a relevant ask. Can you describe your scenario a l

[2017-03-10 18:08] jtaubensee commented on #98
@SimonCropp - Two things:
1. We dont support that on the service side, so in order to realize that performance gain we would need to implement a new feature (which is not on our road map)
2. The `byte[]` model is loosely based on Event Hubs, which had 17.45 *trillion* requests last month, so the performance of it is pretty well proven, and not to mention that is always what Service Bus has done.

[2017-03-10 18:36] papatoob commented on #99
@jtaubensee Thanks for getting back so quickly. I'm using this library; I included the whole project in my Visual Studio solution. Here's my scenario (we're working on a prototype, so it's not a production thing):

I need a "listener" on a service bus and decided to use a .NET Core console application that'll be hosted as a continuously running web job inside an Azure web app, so it's kind of a se

[2017-03-10 19:02] jtaubensee commented on #99
@papatoob - No problem!

So just as queues, topics, and subscriptions are a service level construct, so are filters and actions. For example, when you create a new filter / rule, this is persisted in our service. That is because the service needs to continue routing messages to that subscription if your application becomes disconnected. So if you add a rule successfully, you can assume it will be

[2017-03-10 19:07] SimonCropp commented on #98
fair enough. if it is not supported server side then u r correct that supporting a stream client side is unnecessary complexity and misleading to users.

Are streams still valid in any batch scenarios?

[2017-03-10 19:13] jtaubensee commented on #98
Batch, as in `SendAsync(IList<Message>)`? We are proposing that in order to send a batch in this manner, all the `Message` bodies would need to be `byte[]`.

[2017-03-10 20:30] jtaubensee commented on #89
This issue was moved to Azure/azure-service-bus#7

[2017-03-10 20:30] #89 closed

[2017-03-10 22:41] vincentyau opened #100 "Cancel scheduled message with MessageId"
This is a question not an issue. Is there a way to cancel scheduled message base on MessageId?
In recently version, the CancelScheduledMessageAsync is added to support cancel message by SequenceId.
I compose all the MessageIds for deduping purpose.  So I know all the messages by MessageId, but not the SequenceId.  Is there a work around for this, like MessageId to SequenceId lookup?  Thanks.

[2017-03-10 22:58] jtaubensee commented on #100
Unfortunately there is not a way to cancel a message by the id. The reason being, is that you can send multiple messages with the same id, and if you didnt have deduplication turned on, Service Bus would accept those messages. Sequence number is the only field that is guaranteed to be unique per message. Scheduling messages does require you to keep track of sequence numbers in case you want to can

[2017-03-10 23:53] vincentyau commented on #100
Thanks for your quick response.

[2017-03-10 23:53] #100 closed

[2017-03-11 04:15] SimonCropp commented on #98
Yep u r correct. Given the reasons u put forward byte array makes sense.

Thanks for taking the time to get me up to speed

[2017-03-11 09:24] ncarandini commented on #97
Yes, AutoComplete is indeed a property of OnMessageOptions and it solely purpose is to call message.Complete inside the OnMessage code, only if AutoComplete is true AND the handled method works fine (i.e. no ErrorException returned). This is (finally) clear to me.

But I tested it again and again and got the same wrong result: the message is removed from the queue if AutoComplete is true AND the h

[2017-03-11 14:06] #97 closed

[2017-03-11 16:07] SeanFeldman commented on #97
The swallowed exception has tricked you 😃

[2017-03-11 17:14] ncarandini commented on #97
I must wear the donkey Hat for at least a week! :-)

[2017-03-11 21:27] papatoob commented on #99
@jtaubensee Hi John, thanks for the detailed explanation. And you're right about `GetRulesAsync()`, that is something I searched for and couldn't find. It probably is a management thing, but with the filter rules being persisted in the service, something like that seems even more important to me. Otherwise, how would I ever remember which filters have already been added in previous sessions? Or is

[2017-03-12 16:44] ddobric opened #101 "Issue with implicit load of assemblies"
I have created one .net core application (ASM1).
Application assembly ASM1 references project assembly ASM2.
ASM2 references by nugget Azure Service Bus client.

When trying to send the message, application fails with following error:
[code]

It fails at following line in `async Task<AmqpConnection> CreateConnectionAsync(TimeSpan timeout)`:
[code]

SB client has dependency to this assembly, but .N

[2017-03-12 16:51] ddobric commented on #101
Workaround for this is to add explicit reference to missing assembly (in this case 'System.Net.Security, Version=4.0.0.0) from the top assembly (in this case ASM1).

[2017-03-13 18:25] jnevins-gcm opened #102 "Support HTTPS connectivity mode"
## Actual Behavior
1. TCP connections are blocked
2.  Clients fail to connect

## Expected Behavior
1. Client(s) fall back to HTTP/HTTPS

## Versions
- OS platform and version: Windows 7
- .NET Version: netstandard1.3
- NuGet package version or commit ID: master

Is this already supported? If so, how can I make it work?

[2017-03-13 18:29] jtaubensee commented on #102
@jnevins-gcm - This is not currently supported, and it will likely be a little while before we get to it. But thank you for adding the issue so we can track it.

[2017-03-13 19:08] adam3039 opened #103 "Thrown Fault & Timeout exceptions cluttering debug output"
I am able to resolve this by enabling "Just My Code" in the debugger options of Visual Studio, but is this really the best approach? Seems like a bit of a work around. I'm getting exceptions thrown every 20-30 seconds, usually about 50-70 lines of Timeout & Fault exceptions from the Microsoft.Servicebus.dll at a time. As you can imagine, this really clutters the debug output.

    Exception thrown

[2017-03-13 19:17] jtaubensee commented on #103
@adam3039 - The library you are referencing is not open source. This repo is for the new .NET Standard based library with the namespace 'Microsoft.Azure.ServiceBus'. Can you use this [link](https://www.nuget.org/packages/WindowsAzure.ServiceBus/ContactOwners) to send a message regarding that package?

[2017-03-13 19:17] #103 closed

[2017-03-13 19:37] jtaubensee commented on #99
@papatoob - Previously you could do this from the `NamespaceManager` in our older package, but since we have not moved "management operations" to this library, we are lacking some features. I will mark this as a feature request to add `GetRulesAsync()`, but it might be a little bit until we are able to get to it.

To correct my previous point, I do not believe that there is a publicly documented w

[2017-03-13 19:42] papatoob commented on #99
@jtaubensee Alright, thanks for the support. I'll definitely watch progress here, looking forward to future releases.

[2017-03-13 19:50] jnevins-gcm commented on #102
Do you have a timeline on nuget package availability and first non-preview release?

[2017-03-13 22:33] SeanFeldman commented on #102
@jnevins-gcm there's an issue specifically for nuget package you might want to track, issue #49

[2017-03-13 22:36] SeanFeldman commented on #103
@jtaubensee should this issue be moved to https://github.com/Azure/azure-service-bus instead to be addressed in the existing client?

[2017-03-14 07:29] corneliutusnea opened #104 "Queue AcceptMessageSession lost connection does not disconnect"
## Actual Behavior
1.  Create a QueueClient via `QueueClient.CreateFromConnectionString`
2. Accept a session using `AcceptMessageSession( "sessionId" )`
3. If the computer looses connection to the SB (e.g. Disable Network Card or any other network event), the connection to the ASB is lost. The Queue still is marked as IsClosed=false but no messages are received anymore. There is no way to "test" i

[2017-03-14 23:06] jtaubensee commented on #104
This issue was moved to Azure/azure-service-bus#9

[2017-03-14 23:06] #104 closed

[2017-03-14 23:13] jtaubensee commented on #102
@jnevins-gcm - The support will actually be provided through the dependency library, which is azure/azure-amqp#57

Ditto @SeanFeldman

[2017-03-17 03:13] SeanFeldman opened #105 "Convert project to use VS2017"
`.xproj` pass conversion, but the there are compilation issues (code standards not configured).

[2017-03-17 05:06] jtaubensee commented on #105
Duplicate of #93

[2017-03-17 05:06] #105 closed

[2017-03-17 05:36] SeanFeldman opened #106 "Extensibility API"
Allow extension API to override/enrich certain behaviors
Good candidates could be:
- Message ID generator (currently "baked" into the library) - #24 Allow registration of message id factory
- Mutation of incoming and outgoing message
- etc

This will open up an opportunity to plug-in customization or provide those as independent packages for consumption (@jtaubensee brought up an idea of a `KeyVau

[2017-03-17 05:37] SeanFeldman commented on #93
🔥 StyleCop

[2017-03-17 14:49] jtaubensee commented on #93
@SeanFeldman - Down with Style Cop? I can get on board with that. Thoughts on [dotnet/codeformatter](https://github.com/dotnet/codeformatter)?

[2017-03-23 21:54] jtaubensee commented on #7
Oops. This isn't actually complete yet. @SeanFeldman - Asleep at the wheel there, huh?

[2017-03-23 22:04] niemyjski commented on #49
Any idea when a nuget package will be available>?

[2017-03-23 22:41] jtaubensee commented on #49
We will publish a NuGet package on April 3rd. For details of what is remaining, see the milestone: https://github.com/Azure/azure-service-bus-dotnet/milestone/2

[2017-03-23 23:21] SeanFeldman commented on #7
I'm a co-pilot at best.
But yes, my bad.

[2017-03-24 21:24] jtaubensee opened #109 "Support for safe-size batch"
## Actual Behavior
1. I have reason to believe that Message.Size will only calculate the size of a stream, and not the headers.

## Expected Behavior
1. Message.Size should include the size of the headers

## Versions
All

[2017-03-24 23:16] SeanFeldman commented on #109
👍
This is an old pain. The current (we should really find a name to call it) client does a poor job, especially when querying the messages that were not sent yet.

[2017-03-25 14:11] abombss commented on #67
Not just subscriptions but $deadletter as well. Would love to see the full path concept instead of name. Personally I hate having to deal with queues, topics, and subscriptions differently. They are just senders or receivers in my book with an address.

[2017-03-31 22:13] SeanFeldman commented on #93
T-7

[2017-03-31 22:41] nemakam commented on #7
PR #110 implements this.

[2017-03-31 22:41] #7 closed

[2017-04-03 21:15] jtaubensee commented on #98
Closing per #108

[2017-04-03 21:15] #98 closed

[2017-04-03 23:03] jtaubensee commented on #49
NuGet package is available here: https://www.nuget.org/packages/Microsoft.Azure.ServiceBus

And here is the corresponding release: https://github.com/Azure/azure-service-bus-dotnet/releases/tag/0.0.2-preview

[2017-04-03 23:03] #49 closed

[2017-04-04 16:22] SeanFeldman commented on #93
Congrats on the alpha release again!
Looks like the time is right to switch over to VS2017.

With [`dotnet-migrate`](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-migrate) it looks straight forward.

Could we not introduce any code formatting tools and solely rely on [VS2017 coding styles](https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options)

[2017-04-04 19:24] duizendnegen commented on #98
This works less than optimal in combination with the Azure Scheduler. When scheduling to a service bus it mandates a body, when `azure-service-bus-dotnet` receives a message sent by the Azure Scheduler it throws an exception of not being able to convert `string` to `byte[]`.

Is there a way to work around this, to convince this library that the message really is a string after all? Or am I missing

[2017-04-04 21:44] jtaubensee commented on #98
@duizendnegen - You should be able to call `Encoding.UTF8.GetString(Message.Body)` in order to parse the body as a string.

[2017-04-07 16:08] jtaubensee commented on #109
So, after looking into this one a little bit more, we are wondering where would be the best place to put this functionality. I think rather than being a property on the message, this should be a "utility function" somewhere (perhaps on the `MessageSender`). The reason being is that the size cannot be cached (as the body and properties are mutable), and in order to provide the true message size, we

[2017-04-07 16:49] ddobric commented on #13
Hi all,

what is the state of RenewMessageLock?

[2017-04-07 17:00] jtaubensee commented on #13
@ddobric - Are you wanting to use `RenewMessageLock` from the clients (i.e. Queue / Subscription client)?

If so, we don't have plans to implement this functionality, as this use case is handled by `AutoRenewTimeout` in the message handler.

In case you want to manually renew the message lock and use other advanced functionality, you would need to do so from the `MessageReceiver` which isn't quite

[2017-04-07 23:00] ddobric opened #114 "Interop support for other clients"
Have upgraded to 0.0.2-preview and running in some issues.

1. QueueClient does not have a method GetBody<>() as described in samples.
2. After receiving of the message property 'Body' is always NULL.
3. There is no more ReceiveAsync() method

[2017-04-07 23:30] jtaubensee commented on #114
Hi @ddobric,

Please keep in mind that this is not a direct port of the older WindowsAzure.ServiceBus package. Since we are rewriting the library, we have taken the time to reorganize/redesign the api's and interfaces. For an example of this check out #87.

Which samples are you referring to?

Can you share some code?

Same as response in #13.

[2017-04-08 08:50] ddobric commented on #114
**Receiver is the original sample code from repo:**

`
  private static void ReceiveMessages()
        {
            try
            {
                // Register a OnMessage callback
                queueClient.RegisterMessageHandler(
                    async (message, token) =>
                    {
                        // Process the message
                        Console.WriteLine($"Recei

[2017-04-08 08:52] ddobric commented on #13
Thanks. Right now, it is most important to support AutoRenew. MessageReceiver is welcome. :)

[2017-04-10 15:32] ddobric commented on #114
The problem seems to be in incomplete implementation of AmqpMessageConverter.
I have extended following method:
` public static SBMessage AmqpMessageToSBMessage(AmqpMessage amqpMessage)`

with following code:

` c#
else if (amqpMessage.BodyType == SectionFlag.Data && amqpMessage.DataBody != null)
{
                var data = amqpMessage.DataBody.FirstOrDefault();
                if (data != null)

[2017-04-10 18:08] jtaubensee commented on #114
@ddobric - You are correct about the interop scenario. Thanks for bringing this up. I have submitted #118 in place of #117. I also updated the samples and removed the `GetBody` method in the readmes: 53b8c1c84a0df8dbcd850b7223d15de9c11f27d1

Is there anything else that we need to track in this issue?

[2017-04-10 18:31] ddobric commented on #114
Yes, you can :)
Pls. publish a new nuget package. Right now, using my one.

[2017-04-10 19:51] jtaubensee opened #119 "Document valid AMQP property types"
In #118 we changed the behavior of the client to throw when an unsupported property is read, rather than returning null. We need to document what kind of properties are valid.

[2017-04-10 21:15] ddobric opened #120 "The name of class 'RegisterHandlerOptions' should be changed"
According to .NET naming convention  I think **'RegisterHandlerOptions'** should be renamed to
**''MessageHandlerOptions'** , because it is implied by **'RegisterMessageHandler()**' verb and it configure how registered **MessageHandler** should behave and not how method **RegisterHandler()** should behave.

[2017-04-10 21:18] vinaysurya commented on #120
Hi Damir,

Thanks for bringing this up. We also noticed this and have already changed this while working on the OnSession Feature. I will link this issue to that codeflow.

Thanks,
Vinay

[2017-04-10 21:28] ddobric opened #121 "Ability to specify RetryPolicy for sender without of need to specify ReceiveMode"
When creating a queueClient instance for sending of messages, it would be useful to provide RetryPolicy, without of need to specify ReceiveMode.

NOW:
[code]
It would be good to have additional override:
[code]

[2017-04-10 21:33] ddobric opened #122 "Create entity clients with ConnectionStringBuilder"
I still can remember time, when community was exited after we introduced ConnectionStrings and simplification with CreateFromConnectionString().

Why don't we have it now? just matter of time?

Refactoring this by migrating to new SDK is a kind of painful, because we need to deal with different connection strings (path cannot be part of connection string).

[2017-04-10 22:03] jtaubensee commented on #122
The public constructor for a `QueueClient` accepts a connection string and entity path. So instead of a static "factory" style method, you can do the following:
[code]

[2017-04-10 22:06] jtaubensee commented on #121
@ddobric - This seems like a reasonable ask. Thanks.

[2017-04-10 22:09] bmmathe opened #123 "Body of Message is null in SubscriptionClient.RegisterMessageHandler Func Handler"
## Actual Behavior
message.Body is null in the SubscriptionClient.RegisterMessageHandler func.  The UserProperties are loaded properly but not the body.

## Expected Behavior
I would expect the body to be the message contents.

## Versions
- OS platform and version: Windows
- .NET Version: Core 1.1
- NuGet package version or commit ID: preview 2

[2017-04-10 22:12] jtaubensee commented on #123
Is this the same as #114? i.e. Are you sending messages with the older Service Bus client, and receiving them with this client?

[2017-04-10 22:18] bmmathe commented on #123
`<package id="WindowsAzure.ServiceBus" version="3.4.2" targetFramework="net452" />`

[2017-04-10 22:20] jtaubensee commented on #123
Ok, this is a duplicate of #114 then. We have a PR in review to fix this. #118

[2017-04-10 22:20] #123 closed

[2017-04-10 23:23] jtaubensee commented on #121
After some more thought my concern with this, is that we can end up with too many different overloads. And after looking at it further, you can do the following:

[code]

Since it is an optional parameter, you can specify it.

[2017-04-11 00:21] nemakam commented on #121
@ddobric, That's a valid ask, but it might end up being a conflicting requirement for other folks who would always rely on `RetryPolicy.Default` and switch between using different `ReceiveMode`.
And I personally don't want to have two overloads which differs only in the position of the params. Its more confusing than the approach @jtaubensee just suggested.

[2017-04-11 09:32] ddobric commented on #122
Hi @jtaubensee , you are right.

the issue with contained path in connection string is not one more line of code. It is more about configuration strategy, which already exist around SB for ten years now. Strategy basically says: "Connection string for SB entity and store it somewhere".
Now we need two such artefacts: Connection String + path.

It is not big deal to enable this in the client. Gener

[2017-04-11 13:44] brettataarons commented on #123
Is the full framework client considered old even if I'm using the latest version to publish to a topic? I updated the package to the latest 4.0.0 build and I still can't read the body using this client.

[2017-04-11 14:49] bmmathe commented on #123
I see my issue I think.  In my case we are posting JSON to the message body with a Content-Type set.  I think the goals of this client is to only work with byte[] messages?

[2017-04-11 18:27] jtaubensee commented on #122
@ddobric - Yep, I think it makes most sense to have the ConnectionStringBuilder overload to avoid confusion.

Regarding the expectation of this being a "new version" of the old client: Think of this as more .NET Core, versus the .NET Framework. For example, the `WindowsAzure.ServiceBus` NuGet package was first uploaded 6 years ago, so this is a chance for us to do some "spring cleaning," and avoid

[2017-04-11 18:30] jtaubensee commented on #123
@brettataarons - By "old" I mean the .NET Framework NuGet Package `WindowsAzure.ServiceBus` that you are using in combination with this library. Sorry for the confusion, I only say that because eventually that client will be replaced by this one (way off in the future).

But yes, using any version of that client would have caused this problem. This has been fixed for the next release.

[2017-04-11 23:53] SeanFeldman opened #128 "Client name confusion"
The old client (WindowsAzure.ServiceBus) and the new client (this repo) are both SB clients 😃
The old client is not going away so fast, which will add to confusion.

Perhaps use some code names to distinguish between the two?

[2017-04-12 00:09] jtaubensee commented on #128
Aren't `WindowsAzure.ServiceBus` and `Microsoft.Azure.ServiceBus` the respective code names?

[2017-04-12 01:17] SeanFeldman commented on #128
If you expect people to type that up every time, then yes. Otherwise, nope.

On Apr 11, 2017 19:09, "John Taubensee" <notifications@github.com> wrote:

[2017-04-12 18:24] jtaubensee commented on #57
Also, a reminder to rename the `Peek()` operation to `Browse()` in order to avoid confusion between `PeekLock` mode.

[2017-04-12 23:08] SeanFeldman commented on #57
:-1: for `Browse`.
`Peek` is a well established term for the operation and means exactly what it does. Not to mention that other messaging and queueing technologies use the same nomenclature.

[2017-04-12 23:10] jtaubensee commented on #39
Closing based on #124

[2017-04-12 23:10] #39 closed

[2017-04-13 15:34] jtaubensee commented on #120
closing based on #125

[2017-04-13 15:34] #120 closed

[2017-04-13 15:35] jtaubensee commented on #114
Changing the milestone of this issue, and leaving it open as a reminder to test further interop scenarios for 1.0

[2017-04-13 16:15] justdmitry opened #130 "Add/implement IDisposable on ClientEntity"
`ClientEntity` (and it successors) have public `CloseAsync` method, which indicates that "good practice" is to close each client/entity after use.

For many years, this is known as Dispose pattern, and special `IDisposable` interface and `using` language construct are created for this scenario.

Please, add `IDisposable` interface to `ClientEntity` class.

[2017-04-13 20:42] jpda opened #131 "Removing non-existent sub rules causes subsequent AddRuleAsync to fail with 500"
## Actual Behavior
1. If rule doesn't exist when calling DeleteRuleAsync, throw exception and catch/handle
2. Next call to AddRuleAsync fails with 500 from Service Bus
## Expected Behavior
1. If rule doesn't exist, throw exception and catch/handle
2. Subsequent call to AddRuleAsync shouldn't fail

## Versions
- OS platform and version: Windows 10 16170 .net core 1.1
- .NET Version: core 1.1
- NuGe

[2017-04-13 20:57] jtaubensee commented on #35
Closing based on #126

[2017-04-13 20:57] #35 closed

[2017-04-13 23:34] jtaubensee commented on #130
@justdmitry - So this is an interesting question. While in most cases it is proper to implement the IDisposible class, we don't necessarily want to encourage the `using` syntax. For example:

[code]
In most cases, the `QueueClient` is long-lived, and a Windows service would create a single client and use it throughout the application.

What we ultimately want to avoid, is customers using the above

[2017-04-13 23:37] #128 closed

[2017-04-13 23:38] jtaubensee commented on #101
@ddobric - Is this still an issue for you? I haven't seen this on my side yet.

[2017-04-13 23:43] jtaubensee commented on #128
@SeanFeldman - Any suggestions then? I personally will be using the above names to reference the corresponding libraries, unless we come up with something better.

[2017-04-14 00:43] SeanFeldman commented on #128
👍 I'll follow the same guidance. Not on the phone though. There it will be
"old" vs "new" 😉

On Apr 13, 2017 18:43, "John Taubensee" <notifications@github.com> wrote:

[2017-04-14 08:27] justdmitry commented on #130
Understand.

That's looks like [HttpClient per call / singleton](http://stackoverflow.com/questions/22560971/what-is-the-overhead-of-creating-a-new-httpclient-per-call-in-a-webapi-client) issue...

Do you recommend (for web app) register it as a singleton for whole app lifetime? Does QueueClient/TopicClient are (or _planned to be_ in RTM) thread-safe?

[2017-04-17 11:52] datauduong opened #133 "SendSample - Need some update."
## Actual Behavior
1. Try Compile Send Sample getting an Error Message in the
project.json was "Microsoft.Azure.ServiceBus": "0.0.2-preview"

2. Does not have build target platform build specify in project.json, therefore Can't Compile

3. When Sending to Queue with Session Enable, I get an error message.
Exception: Put token failed. status-code: 404, status-description: The messaging entity 'sb:/

[2017-04-17 16:59] SeanFeldman commented on #109
The message size is important to be assessed _prior_ to sending it. Batching allows up to 100 messages or less than the maximum size for the tier used. If there are less than 100 messages, one has to calculate the overall size of the messages in order to make a conscious decision to split the batch into "chunks".

Utility method sounds off to be frank. The message is the one that should know how t

[2017-04-17 17:57] jtaubensee commented on #133
@datauduong - Thanks for checking out the samples. Let's take a look at each question:

project.json was "Microsoft.Azure.ServiceBus": "0.0.2-preview"

Since the samples are included in a Visual Studio solution, you (and probably every one) else is getting a warning saying that it ended up with a higher dependency than what was specified. That is OK, as the current version in the project, is `0.0.

[2017-04-18 18:44] #133 closed

[2017-04-18 18:57] jtaubensee opened #134 "Connection pooling for clients"
## Description
This issue is to track the implementation of a connection pool for the Queue/Topic/Subscription clients.

This feature would enable the following scenarios:
* Latency optimization (shared connections)
* Throughput optimization (multiple connections)

Other things to keep in mind:
* Connections would be returned to global pool when the client is closed/disposed
* Connection pool woul

[2017-04-18 18:59] jtaubensee commented on #130
@justdmitry - Yep, its basically the same as HttpClient; that is a good comparison.

The clients should be thread safe.

You've actually brought up a good point (which we were hoping to address later, but has some relevance here). See #134.

[2017-04-18 20:08] SeanFeldman commented on #26
I'll bring [this issues](https://github.com/Azure/azure-service-bus/issues/16) as a reminder why documentation needs to be created early on and not after features are implemented. Lest we forget.

[2017-04-20 03:25] adminnz opened #135 "QueueClient Prefetch Can never be set"
There is no way for a user to configure the prefetch count.
The only public QueueClient constructor requires a connectionString, and that connectionString cannot have anything apart from Endpoint, SharedAccessKeyName, SharedAccessKey, EntityPath in it (due to how the ServiceBusConnectionStringBuilder is implemented).

If the QueueClient's other constructor was exposed it would allow users to pass

[2017-04-20 15:16] SeanFeldman commented on #99
Correct. It is not ATM.
Also `NamespaceManager.GetRulesAsync()` with a `filter` option is broken from what I have seen.

While it could be considered a management operation, unless provided by another package, should be by the client.

[2017-04-21 14:56] #121 closed

[2017-04-21 16:24] justdmitry opened #138 "Unable to send "pure" body content"
## Actual Behavior
1. `MemoryStream` (with simple `foo bar` text) is converted to `byte[]` via `ToArray()` and sent via ServiceBus
2. Real content of message is binary-serialized data like `@base64Binar3http://schemas.microsoft.com/2003/10/Serialization/?  ?foo bar?`

## Expected Behavior
1. Send "pure" byte content as message payload, for compatibility with other platforms and old (legacy) client

[2017-04-21 16:43] jtaubensee commented on #138
@justdmitry - From a quick glance I notice the following:

If I change the `SendLegacy` method to flush the `stream` to an array before creating the message, I get the same result.

Here is the change:
[code]

And here is the result:
[code]

I believe this has something to do with the serializer in the old client, so we will need to do some further investigation. Usually this isn't the right place

[2017-04-21 16:46] jtaubensee commented on #96
Closing based on #115

[2017-04-21 16:47] jtaubensee commented on #93
Closing based on #127

[2017-04-21 16:47] #93 closed

[2017-04-21 16:47] #101 closed

[2017-04-21 16:49] jtaubensee commented on #114
Added a ToDo item in  src/Microsoft.Azure.ServiceBus/Amqp/AmqpMessageConverter.cs

[2017-04-21 17:07] SeanFeldman commented on #114
Optionally you can have a bookmark (link) pointing to the specific commit, file, and location in the file.

For the https://github.com/Azure/azure-service-bus-dotnet/issues/114#issuecomment-296243973, it would be. I use that trick to ease the navigation on the issues.

https://github.com/Azure/azure-service-bus-dotnet/blob/f5f78333522f81e4f7d3a497bad233d4265b3626/src/Microsoft.Azure.ServiceBus/Amq

[2017-04-21 21:17] justdmitry commented on #138
@jtaubensee yes, old clients may be upgraded to send messages, "identical" to new "format". But it's not good "compatibility" point - ask to upgrade all parties to new message transport format...

Also, what about receiving "pure byte stream" messages... I updated my demoapp and found that `Microsoft.Azure.ServiceBus` can successfully read message, sent in "old way". Cool! But this means that I ca

[2017-04-24 05:40] SeanFeldman opened #141 "Claim check support"
Feature request - support for [claim check pattern](http://www.enterpriseintegrationpatterns.com/patterns/messaging/StoreInLibrary.html).

[2017-04-24 19:40] jtaubensee commented on #96
https://github.com/openCover/opencover/issue/669 isn't quite resolved yet.

[2017-04-25 19:13] jtaubensee commented on #135
Closing based on #140.

[2017-04-25 19:13] #135 closed

[2017-04-25 20:53] nemakam commented on #122
Merged #136

[2017-04-25 23:21] adminnz opened #145 "Increase Extensibility by unsealing and making public"
In the code's current state it is not very practical to extend anything because nearly all classes that actually do something are marked as private and/or sealed.
e.g. AmqpMessageReceiver, AmqpMessageSender, TopicClient, QueueClient, MessageReceivePump, etc

As per [MSDN Sealing](https://msdn.microsoft.com/en-us/library/ms229023(v=vs.110).aspx)

Also the only point in the referenced link that kind

[2017-04-26 21:12] jtaubensee commented on #141
@SeanFeldman - This would likely be implemented as a plugin/extension, so this is on-hold for the meantime.

[2017-04-26 21:15] jtaubensee commented on #145
@adminnz - Can you clarify your use case a little more? You want to batch receive? If so, you will be able to do that soon.

#57 will allow you to use the MessageSender/Receiver objects which will have the more advanced scenarios you are looking for.

[2017-04-26 21:16] #130 closed

[2017-04-26 23:54] adminnz commented on #145
Yes batch receive, so that I can do something like.
`var messages = await messageReceiver.ReceiveBatchAsync(batchSize: 500, waitTime: TimeSpan.FromSeconds(10));`

Where batchSize is the max number of messages to receive and waitTime is the maximum amount of time to wait for the 500 messages and if that time is reached then the call would return with whatever messages were pulled down.
Also handlin

[2017-04-27 16:51] jeroenlandheer opened #147 "The link to the NuGet package in the readme points to the wrong package"
Link should be: NuGet package - https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/
(Current link points to the management client, which is used to manage the service bus service in Azure)

[2017-04-27 17:55] jtaubensee commented on #147
The links that you are referring to are a part of the question "Can I manage Service Bus entities with this library?", so that is correct.

https://github.com/Azure/azure-service-bus-dotnet#can-i-manage-service-bus-entities-with-this-library

If you are looking for the NuGet package for this client, you can click on the NuGet version badge in the Build/Package table.

![2017-04-27_10h54_33](https:

[2017-04-27 17:55] #147 closed

[2017-04-27 18:50] jtaubensee commented on #106
@SeanFeldman - Sorry for the delay with my response. We are really excited about the idea of extensions, and are thinking of the following potential ideas:

* KeyVault
* Claim check (#141)
* Check sum
* Compression

These extension points are very powerful, as they would give you access to mutate the message on send and receive. This also adds to potential debugging confusion / performance testing

[2017-04-27 19:57] jeroenlandheer commented on #147
Whoops, I guess I looked over that one :) Thank you 👍

[2017-04-27 22:04] jtaubensee commented on #67
Hey Guys - Just doing some cleanup here.

@SeanFeldman - I think we are doing what you are asking for. In the subscription client, we provide the path as `${topicpath}/Subscriptions/{subscriptionName}`, and in the queue/topic client we provide the path as simply the name. In your case `some/topic` is the name.

@abombss - Have you used the [`EntityNameHelper`](https://github.com/Azure/azure-servic

[2017-04-27 22:13] jtaubensee commented on #145
Sure. What you are saying is correct. With the Receiver you can call, `await messageReceiver.ReceiveAsync(numMessagesToReceive, waitTime)`. I have a PR open that will make this public. https://github.com/Azure/azure-service-bus-dotnet/pull/146

What kind of throughput are you expecting? With the sender/receiver, you are responsible for renewing the lock tokens on your own, but with the QueueClient

[2017-04-28 01:24] bmmathe opened #148 "PeekBatch support"
The full framework Azure Service Bus client has the capability to PeekBatch a queue which lets the client read once from a queue and does not lock the message.  This is perfect for monitoring behavior where you need a view of the queue for troubleshooting without actually trying to process the message.  I'm trying to figure out a way to mimic this behavior with this library using the QueueClient b

[2017-05-02 06:09] SeanFeldman commented on #106
👍

[2017-05-02 06:17] SeanFeldman commented on #67
@jtaubensee does that mean all entities now will have an equivalent of my suggested `FullPath` property that allows to use `MessageSender`/`MessageReceiver`?

[2017-05-02 06:43] SeanFeldman commented on #26
The ghost of the past: https://github.com/Azure/azure-service-bus/issues/20

[2017-05-02 11:38] MaxKhlupnov commented on #50
Any progress on this? Still getting errors:  System.Reflection.Emit.ILGeneration 4.3.0 when trying install NuGet for UWP target

[2017-05-02 18:23] jtaubensee commented on #148
@bmmathe - #146 will allow you to use the `MessageReceiver`, which has support for `Peek()`. It is safe to say that this will be in the next release. `Peek()` was intentionally kept out of the `Queue`/`Subscription` clients, because there are performance implications, and it can potentially lead to bad practices. i.e. peeking messages regularly, and looking for the one you want (something we want

[2017-05-02 18:23] #148 closed

[2017-05-02 18:23] #145 closed

[2017-05-02 18:27] SeanFeldman commented on #106
A few items I'd like to bring up for discussion

1. Registration of the plugins should be restricted to the configuration time, not run-time. Should not be possible to plug an ad-hoc plugin in the middle of execution.
1. What will be the order of execution, per each step (out of 4 listed [here](https://github.com/Azure/azure-service-bus-dotnet/issues/106#issuecomment-297805676)), assuming multiple

[2017-05-02 18:33] jtaubensee commented on #67
[`QueueClient.Path`](https://github.com/Azure/azure-service-bus-dotnet/blob/dev/src/Microsoft.Azure.ServiceBus/QueueClient.cs#L77):
[code]

[`TopicClient`](https://github.com/Azure/azure-service-bus-dotnet/blob/dev/src/Microsoft.Azure.ServiceBus/TopicClient.cs#L63)
[code]

[`SubscriptionClient`](https://github.com/Azure/azure-service-bus-dotnet/blob/dev/src/Microsoft.Azure.ServiceBus/SubscriptionC

[2017-05-02 19:50] jtaubensee commented on #50
@MaxKhlupnov - I've just submitted PR #150 to add an output for this, so we should have this in our next release. Please keep in mind, that we have not fully tested this yet.

[2017-05-02 20:26] jtaubensee commented on #67
Closing based on #149

[2017-05-03 08:40] papatoob commented on #122
@jtaubensee  - Soon this hopefully won't matter anymore, but with 0.0.3-preview the following does not seem to work (at least with my tests):

Instead, this raises a `System.ArgumentException: NamespaceConnectionString should not contain EntityPath.` in `Microsoft.Azure.ServiceBus.Primitives.ServiceBusNamespaceConnection..ctor(String namespaceConnectionString, TimeSpan operationTimeout, RetryPolic

[2017-05-03 15:52] dreadeddev opened #151 "A space character in the subscription name causes Azure Functions to error when using ServiceBusTriggers with topics."
## Actual Behavior
1.  Create a function binding as per [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus)
2. Have a space in your subscription name (i.e. "Microsoft Azure Sponsorship")
3) receive the error ""

## Expected Behavior
1. If spaces in names are allowed then the e

[2017-05-03 16:17] #151 closed

[2017-05-04 01:15] #122 closed

[2017-05-04 01:17] nemakam commented on #122
@papatoob , with this fix you should now be able to do this:
[code]

[2017-05-04 16:36] jtaubensee commented on #50
Closing based on #150

[2017-05-04 16:36] #50 closed

[2017-05-10 07:25] papatoob commented on #122
Thanks. I will have to wait for the next NuGet package release though, since I'm not on VS 2017 yet.

[2017-05-14 03:24] jack4it opened #154 "RegisterMessageHandler takes exactly 1 minute to complete"
## Actual Behavior
1. The call of RegisterMessageHandler takes exactly 1 minute to complete

## Expected Behavior
1. Should this not be faster?
2. Why 1 minute though?

## Versions
- OS platform and version: win 10, server 2012/2016
- .NET Version: 1.1.x
- NuGet package version or commit ID: 0.0.2, 0.0.3

[2017-05-15 18:23] vinaysurya commented on #154
It does not have to be. I think today we wait for a whole minute waiting for a message to show up while we register the handler for the first time. We could just try waiting for a lesser time or for no time and still go ahead and register the handler anyway. I'll make that change and submit a PR.

[2017-05-15 20:52] jtaubensee commented on #96
Completed with #155, but leaving this issue open until a new NuGet is published.

See comment in build script: https://github.com/Azure/azure-service-bus-dotnet/blob/dev/build/build.ps1#L131

[2017-05-15 21:09] jtaubensee commented on #40
Since we are now running unit tests against .net 4.6 again, we can have a compiler directive to only run this against .net 4.6. Assigning to @SeanFeldman to take care of.

[2017-05-15 21:42] jtaubensee commented on #57
Closing based on #146

[2017-05-15 21:42] #57 closed

[2017-05-16 11:03] ummarbhutta opened #158 "Can't install NuGet package for UWP application"
## Actual Behavior
1. Created a new UWP blank application in C#. Try to add NuGet package "**Microsoft.Azure.ServiceBus**"
2. Getting Following errors

[code]

## Expected Behavior
1. It should be installed without any error.

## Versions
- OS platform and version: Windows 10 Pro, 64-bit
- Project Target Platform: UAP
- Project Target Platform Version: 10.0.14393.0
- Project Target Platform Min Ve

[2017-05-16 16:35] jtaubensee commented on #158
@ummarbhutta - The addition of UWP support has not yet been released, but should be sometime today. It will be version 0.0.5-preview. Check back here for more details: https://github.com/Azure/azure-service-bus-dotnet/releases

[2017-05-16 16:35] #158 closed

[2017-05-17 04:52] GavinOsborn opened #159 "Road Map / The path to 1.0"
Is there a Road Map for getting to 1.0?
Something that details both:
 - Your goals when you hope to be done
 - What features are still out-standing.

At the moment it's hard to tell how far away you are from getting to a first major release.
It would also be great to understand what we can expect from a 1.0 release in terms of comparable feature parity with the existing SDKs.

Many Thanks

[2017-05-17 06:39] ummarbhutta commented on #158
@jtaubensee Thanks a lot.. :)

[2017-05-17 08:10] aviita commented on #159
This blog post in msdn is even promising a roadmap, but it seems to have been removed from the Readme.md.

Blog post:
[https://blogs.msdn.microsoft.com/servicebus/2016/12/20/service-bus-net-standard-and-open-source/](https://blogs.msdn.microsoft.com/servicebus/2016/12/20/service-bus-net-standard-and-open-source/)

Roadmap link:
[https://github.com/Azure/azure-service-bus-dotnet#road-map](https://g

[2017-05-18 16:49] MaxKhlupnov commented on #50
Thanks, @jtaubensee !
0.0.5-preview installed successfully from NuGet  and compiled in my Xamarin project (Android and UWP).

[2017-05-18 17:01] jtaubensee commented on #159
@GavinOsborn & @aviita - The road map that you are mentioning, was in place to help provide a **runtime** feature comparison between this client and the `WindowsAzure.ServiceBus` nuget package. Since we have reached **runtime** parity for all major use cases, we removed that reference from the readme.

We also found that we weren't using the tools at our disposal. Instead we have started using mil

[2017-05-18 17:04] jtaubensee commented on #159
One more thing to add:

This library will be missing management functionality, so there will be no `CreateQueue` type of capabilities. Here is a note in our readme about that: https://github.com/Azure/azure-service-bus-dotnet#can-i-manage-service-bus-entities-with-this-library

[2017-05-19 03:32] GavinOsborn commented on #159
@jtaubensee thanks for your answer that helps a lot.

In light of your answer, perhaps to phrase the question differently:
Would you currently recommend this library for production workloads?

## Feedback

It's hard for me to provide much feedback at present as I'm only just exploring this new library and haven't used it in anger.

My $0.02 impression so far

### Depth
It feels a bit lite at the m

[2017-05-19 03:39] SeanFeldman commented on #159
Good feedback @GavinOsborn. Some links you might want to get more context about certain developments.

#98 Change Message.Body type to byte[]

#108 (Brokered)Message refactoring

On this one I have to admit that looking at it now, `BrokeredMessage` does feel more "familiar" after all the time working with it. But it's just me.

[2017-05-19 06:35] GavinOsborn commented on #159
@SeanFeldman the commentary in #98 about `Stream` support makes perfect sense - sounds like a wise decision. However support for some default object serialization doesn't seem like such a bad thing.

The truth is there are still plenty of devs out there that are uncomfortable dealing with either `Stream` or `byte[]`. Microsoft have always gone the extra mile in looking after them.

Regarding the d

[2017-05-20 15:09] SeanFeldman opened #160 "Allow message scheduled enqueue time to be expressed with TimeSpan"
`Message.ScheduledEnqueueTimeUtc` accepts `DateTime`. There's a problem with this approach - calculated time is based of the local clock and not the broker lock. The client cannot know the server time either. Allow deferring message enqueue operation by providing delay as `TimeSpan` (similar to lock duration). With this approach the server will be using its own clock, w/o the need to worry for the

[2017-05-20 21:27] SeanFeldman commented on #160
@jtaubensee not sure if the broker support this or not, so could be more than just a client side.

[2017-05-22 16:16] NickMoores commented on #138
We've been bitten by this.

To me, it's looking as though an AmqpValueMessage is being created for the byte[], and the Amqp library is using it's own encoding (probably [ArrayEncoding](https://github.com/Azure/azure-amqp/blob/master/Microsoft.Azure.Amqp/Amqp/Encoding/ArrayEncoding.cs) or [BinaryEncoding](https://github.com/Azure/azure-amqp/blob/master/Microsoft.Azure.Amqp/Amqp/Encoding/ArrayEncodi

[2017-05-23 23:16] jtaubensee commented on #159
Our team is actually planning to have a plugin that would handle these types of interop scenarios, and this is something that we currently have open issues on (#114). So, it might be an extra step or two for true interop, but we will try to make this as easy as possible.

Part of the reason for changing the name of `BrokeredMessage` to `Message` is to simplify things within our service. Many custo

[2017-05-25 23:31] #159 closed

[2017-05-26 18:09] SeanFeldman opened #165 "EntityNameHelper doesn't provide a helper for Transfer​ Dead​Letter​ Path"
[EntityNameHelper](https://github.com/Azure/azure-service-bus-dotnet/blob/d88ae6a6fd597c8274e6b8112aad4499f5eda74c/src/Microsoft.Azure.ServiceBus/Primitives/EntityNameHelper.cs#L9) doesn't expose [`Format​Transfer​Dead​Letter​Path(string)`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queueclient.formattransferdeadletterpath?view=azureservicebus-4.0.0#Microsoft_Servic

[2017-05-26 22:47] #165 closed

[2017-05-26 22:57] ambidexterous opened #167 "On prem Servicebus"
## Actual Behavior
1. I downloaded the code and tried try to run the tests but am getting this:
Message: System.TypeInitializationException : The type initializer for 'Microsoft.Azure.ServiceBus.UnitTests.TestUtility' threw an exception.
---- System.ArgumentException : Illegal connection string parameter name 'StsEndpoint'
Parameter name: connectionString

I'm using on premise service bus version.

[2017-05-27 17:29] SeanFeldman commented on #165
closed via https://github.com/Azure/azure-service-bus-dotnet/commit/67d4314feebaf668ed27dad953ef251e20661e41

[2017-05-28 11:42] MPOSEIDON commented on #154
I am having the same issue. Why it is taking 1 minute to register message handler?

[2017-05-31 16:00] jtaubensee commented on #167
@ambidexterous - While in theory this new client might work with the on-prem version of Service Bus, support for that is not currently in scope. And due to the support timeline for on-prem, we aren't actually recommending that customers begin developing new projects for on-prem. In case you are curious about our road map, @clemensv had a good blog post to sum things up: https://azure.microsoft.com

[2017-05-31 16:40] ambidexterous commented on #167
Thank you for answering.

I see. In our case we are not starting a new project we actually have a plan to migrate off of the on Prem service bus later this year, however interim we're working to get all the apps updated to .NET core including this piece.

If I was to try to get it work with on prem I have to use some special style of connection string (without the extra attributes) and expose my s

[2017-05-31 22:04] #40 closed

[2017-06-01 18:06] jtaubensee commented on #106
Closing based on #153

[2017-06-01 18:06] #106 closed

[2017-06-01 18:07] #26 closed

[2017-06-01 18:14] jtaubensee opened #169 "APIApprover: Missing public members"
The file [here](https://github.com/Azure/azure-service-bus-dotnet/blob/dev/test/Microsoft.Azure.ServiceBus.UnitTests/API/ApiApprovals.ApproveAzureServiceBus.approved.txt), seems to only have public interfaces and classes listed and not the members inside of those. @seanfeldman seems to think there is a setting that needs to be flipped.

[2017-06-01 18:45] jtaubensee commented on #167
@ambidexterous - Unfortunately this new client only supports SAS authentication, which is not available for on-prem service bus.

[2017-06-01 20:00] SeanFeldman commented on #169
This is an [issue with ApiApprover](https://github.com/JakeGinnivan/ApiApprover/issues/32). #170 will solve it for now.

[2017-06-02 16:34] #169 closed

[2017-06-02 22:02] SeanFeldman opened #173 "Wrap TimeoutException in ServiceBusTimeoutException with IsTransient as true"
[Documentation](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-exceptions) on `TimeoutException` says:

This is a challenge today because `TimeoutException` is [not derived from the `ServiceBusException`](https://github.com/Azure/azure-service-bus-dotnet/blob/784fc14cf348c472b5a25eb5aa8e2afc8b43a56d/src/Microsoft.Azure.ServiceBus/Amqp/AmqpExceptionHelper.cs#L97)

[2017-06-05 00:41] kevin-meyer-aarons commented on #138
+1 for being able to construct a new Message with a Stream that isn't manipulated via serialization.  In other words, it should behave like the full framework client.

[2017-06-05 15:44] SeanFeldman opened #174 "ExceptionReceivedEventArgs.Action"
Possible values for `ExceptionReceivedEventArgs.Action` are not documented and appear to be free text in [`MessageReceivePump`](https://github.com/Azure/azure-service-bus-dotnet/blob/63713319375c2b34cb8e71c5f8a07f6494a30324/src/Microsoft.Azure.ServiceBus/MessageReceivePump.cs) and duplicated in [`SessionReceivePump`](https://github.com/Azure/azure-service-bus-dotnet/blob/63713319375c2b34cb8e71c5f8

[2017-06-05 15:54] jtaubensee opened #175 "Appveyor build badges"
## Need to update the appveyor build badges on the readme.

In order to do so, get the badge link here: https://ci.appveyor.com/project/vinaysurya/azure-service-bus-dotnet/settings/badges, and replace the old ones on the readme.

[2017-06-05 16:10] SeanFeldman commented on #174
Also, the two classes use inconsistent strings to represent similar actions (`UserCallback` vs `User Callback Exception`).

[2017-06-06 09:36] GaryHope commented on #138
+1 for being able to construct a new Message with a Stream that isn't manipulated via serialization. In other words, it should behave like the full framework client to support interop. I've been "fixing" previous code to support solutions working with  new Microsoft.Azure.ServiceBus code for days now. If we think about interop we need at the very least to provide visible guidance so this doesn't p

[2017-06-07 18:05] #174 closed

[2017-06-09 01:09] kebeller commented on #138
Looking for guidance on how to remove on existing messages that have the
base64Binar3http://schemas.microsoft.com/2003/10/Serialization/? without using the brokeredMessage.GetBody<byte[]>().  I'm having this same issue but in a java application trying to decode messages created and serialized in .net.

I'd like to know if there is a way to remove this extra text when tretreiving the message using

[2017-06-09 04:07] CodeCharm opened #177 "QueueClient.RegisterMessageHandler -- no way to timeout if no messages are received"
Maybe I'm approaching this wrong? I'm a little new to this library; please direct me to what docs/posts I missed if I am thinking about this the wrong way.

`QueueClient.RegisterMessageHandler` blocks until a message is received. It's not awaitable; it doesn't return a `Task`.

I would like to establish a timeout in case there are no messages to receive. But it seems to drop into the message pump

[2017-06-09 05:27] SeanFeldman commented on #177
`QueueClient.RegisterMessageHandler` is a message pump. It's purpose is to continuously run and invoke a handler provided by you for each incoming message, not process a single message and be done.

It sounds what you want to do is to receive a single message with a timeout. For that you have [`QueueClient.ReceiveAsync(TimeSpan serverWaitTime)`](https://github.com/Azure/azure-service-bus-dotnet/bl

[2017-06-09 10:17] riccardobecker opened #178 "Java Deserialization adds additional content to message"
Hi all,

we experience issues in our IT landscape where there are .NET and Java components.

## Actual Behavior
1. On the .NET side we use the latest preview SDK which exposes a Message instead of the "old" BrokeredMessage.
2. Adding a payload to this body works fine and using a tool like service bus explorer or using our on C# codebase is perfectly able to deserialize this Message into a JSON str

[2017-06-09 18:21] nemakam commented on #178
Duplicate of #138
@riccardobecker , this is a known issue and we are tracking it.
Further updates on thread #138

[2017-06-09 18:21] #178 closed

[2017-06-09 19:22] nemakam commented on #177
Every thing that @SeanFeldman mentioned is right, except for a small typo...
The `ReceiveAsync` is a method on `MessageReceiver` and not `QueueClient`. (The link is right though).

Closing this issue.

[2017-06-09 19:23] CodeCharm commented on #177
No, I wanted a message pump. It's just that I have no external control over when to end the message pump. Once I'm in it, I'm stuck in it until a message is received.

The ReceiveAsync solution would be part of a message pump that I would have to create on my own -- it'd be better/easier for me to fork a thread to run QueueClient.RegisterMessageHandler, and reset a timer whenever I receive a messa

[2017-06-09 19:45] nemakam commented on #177
@CodeCharm , Does #154 describe your issue or are you talking about a way to pause/stop the pump?

[2017-06-09 23:01] CodeCharm commented on #177
@nemakam It might be the same issue -- it certainly feels related. However, I am looking for some more control. As far as I can tell the `ReceiveTimeout` property of `MessageHandlerOptions` is unused; this seems like the ideal use for it. If @vinaysurya (from #154) hasn't already started work on it, I would be willing to give it a shot. I've already forked and run all the unit tests against my own

[2017-06-09 23:38] nemakam commented on #177
There seems to be a misunderstanding here (from either side). Message pump **doesn't** exit after receiving the message. Its always running as long as the actual `QueueClient` is open. Everytime it receives a message, it will invoke the function/handler that was passed to it. It is not expected to close before the lifetime of the `QueueClient`.

That would be appreciated. Let us know if you need a

[2017-06-09 23:48] CodeCharm commented on #177
That's what I thought! But I agree with #154, one minute can be too long to wait for a message that is never received. It just kills my console client.

I was under the impression that the CancellationToken passed into the message handler should be used by the handler to notify the pump that it should exit the pump. What's that CancellationToken for, if not that?

[2017-06-10 00:07] nemakam commented on #177
So the expected behavior is that calling `RegisterMessageHandler` should return immediately and in a background thread this pump should invoke the user provided function on every message. The bug in #154 is that this method doesn't return immediately and ends up waiting for a minute if there are no messages in the queue.

The cancellation token is used here for an entirely different reason. Like I

[2017-06-10 01:34] CodeCharm commented on #177
That makes sense, and I'd be happy to try to close #154. Any specific guidance before I start?

[2017-06-10 01:56] nemakam commented on #177
I think it should be a pretty simple fix. Probably just updating `MessageReceivePump.StartPumpAsync` by passing a timeout of zero for the receive call might do the trick. Just do some testing and see if that fixes the issue.

[2017-06-10 02:32] nemakam commented on #131
@jpda , Thanks for reporting this. This is a server side issue and we are working on the fix. I've moved the issue to the other repo which tracks server side issues.
Azure/azure-service-bus#36

[2017-06-10 02:33] #131 closed

[2017-06-11 12:08] muhamad-ahsan opened #180 "BrokeredMessage 'has been disposed' when call Complete/Acknowledgment from other Thread"
# Problem
I am using event based message receiving. I have attached my event handler on **OnMessage** event of **MessageReceiver** class. After receiving the message, I need to acknowledge it by calling **Complete** method of **BrokeredMessage** class. I am calling this method in another thread and receiving the exception: **'BrokeredMessage has been disposed'**.
I have verified following points:

[2017-06-13 06:39] binzywu commented on #180
@muhamad-ahsan your code is for the current full .Net client library. Please could you move this issue to repo: https://github.com/Azure/azure-service-bus?

This repo is specific for our Service .Net Standard Library which is a complete rewrite.

[2017-06-13 06:53] binzywu commented on #173
Generally speak, all exceptions from a cloud service could be considered as transient unless the cloud service is completely down and no one wants to bring it up. :)

@SeanFeldman what operations you have seen that throws ` TimeoutException` ?

[2017-06-13 07:05] muhamad-ahsan commented on #180
@binzywu Thank! I have opened in repo: https://github.com/Azure/azure-service-bus

[2017-06-13 07:05] #180 closed

[2017-06-13 12:57] bmmathe opened #181 "Keep alive setting for AMQP connection"
Is there anyway to keep the AMQP client alive in QueueClient or SubscriptionClient?
We have an endpoint on a web service that isn't hit too frequently during the day which causes the SubscriptionClient to timeout in between calls.  When this happens the SubscriptionClient has to re-establish the connection to Azure Service Bus which is taking a relatively long time.  We can't send the message in a

[2017-06-13 15:11] SeanFeldman commented on #173
OnMessage API would throw in when a lock is failing renewal (at least I've seen this with the old/current/WindowsAzure.ServiceBus client.
In this code base, `System.TimeoutException` is thrown when it's a [timeout error](https://github.com/Azure/azure-service-bus-dotnet/blob/784fc14cf348c472b5a25eb5aa8e2afc8b43a56d/src/Microsoft.Azure.ServiceBus/Amqp/AmqpExceptionHelper.cs#L97)

[2017-06-13 20:42] JimiSmith opened #182 "Cannot send messages via TopicClient from Azure webjob"
## Actual Behavior
1. Implement Azure WebJob (not using the WebJobs sdk) to send messages to a topic
2. Message sending fails after 30 seconds with the following error and stacktrace

[code]

## Expected Behavior
1. The message should be sent to the topic without errors

## Versions
- .NET Version: netcoreapp1.1 referencing a netstandard1.6 dll
- NuGet package version: Microsoft.Azure.ServiceBus -

[2017-06-13 21:17] SeanFeldman commented on #182
Out of curiosity, @JimiSmith have you tried with the latest pre-release ([0.0.6-preview](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/))?

[2017-06-13 21:42] nemakam commented on #182
@JimiSmith, Since this is not an exception thrown by SERVICEBUS, have you tried the various generic solutions present online/stackoverflow for the same error

[2017-06-14 03:42] SeanFeldman commented on #160
Ping

[2017-06-14 04:27] SeanFeldman commented on #177
@CodeCharm I've started PR #183 to address this issue.
@nemakam aside from smoke testing, should there be a test added to verify this fix or we're good with manual verification?

[2017-06-14 04:28] SeanFeldman commented on #154
@MPOSEIDON see PR #183

[2017-06-14 04:54] CodeCharm commented on #177
@SeanFeldman Awesome, thanks. I had started, but I had started by trying to make a new test, and got a little tangled in the test harness. LMK if I can help in any way.

[2017-06-14 04:57] SeanFeldman commented on #177
@CodeCharm if you could smoke test with the repro you got going, would be great. If you feel like adding an a test to the suite, please do (as a PR on top of this PR).

Unless @nemakam comes and declares:
![image](https://user-images.githubusercontent.com/1309622/27116004-b906a0bc-508b-11e7-8e10-638ce60a887e.png)

[2017-06-14 05:05] CodeCharm commented on #177
@SeanFeldman I will try that out -- but I can't get to it until tomorrow evening (PDT).

[2017-06-14 05:07] SeanFeldman commented on #177
​No rush. I'm in MST and it's time to count the stars.

[2017-06-14 16:57] SeanFeldman commented on #138
[Twitter conversation](https://twitter.com/CanadianJames/status/875028070104801282) about old/new client issues by @MisterJames

[2017-06-14 17:01] SeanFeldman commented on #138
Should be labeled as a bug.

[2017-06-14 17:54] MisterJames commented on #138
On my side, I'm not sure that I have a way to help coach Azure Functions into proper deserialization, which happens during parameter binding, before my code is executed. The message won't even convert to `string`.  In previous combinations of the Web Jobs SDK and Service Bus messaging, I would use the `BrokeredMessage` object, which no longer seems to be part of the library.

I am using `Microsoft

[2017-06-14 19:41] JimiSmith commented on #182
It looks like the issue is related to a client websocket connection that I have running within the same webjob. This appears to be what is using up all the available outbound ports.

[2017-06-14 19:41] #182 closed

[2017-06-14 19:49] nemakam commented on #160
@SeanFeldman , do you expect the variance in machine clocks (for UTC) be considerably more than the variable in the latency of the send scheduled message request?

[2017-06-14 19:54] nemakam commented on #160
@SeanFeldman , Is this an issue you actually encountered?

[2017-06-14 19:55] nemakam commented on #160
Closing this issue as it is already opened the service side repo: Azure/azure-service-bus#40

[2017-06-14 20:06] SeanFeldman commented on #160
@nemakam the server side is to allow this call. Should this stay in place to be added to the client?

[2017-06-14 20:08] nemakam commented on #160
Makes sense. I'll reopen the case. Will close it if required after the initial triage on the other repo.

[2017-06-14 21:48] binzywu opened #185 "Support SAS token"
## Actual Behavior
1. Client client doesn't support SAS token

## Expected Behavior
1. Client client supports SAS token

## Versions
- OS platform and version: N/A
- .NET Version: N/A
- NuGet package version or commit ID: 0.0.6-preview

[2017-06-14 22:19] SeanFeldman opened #186 "TaskExtensionHelper.Schedule is used incorrectly"
The helper method [`TaskExtensionHelper.Schedule`](https://github.com/Azure/azure-service-bus-dotnet/blob/9ffe9d9ded13f16ba07104f05b69d880e9512dbb/src/Microsoft.Azure.ServiceBus/Primitives/TaskExtensionHelper.cs) introduces an option of safe "fire and forget" execution of async methods.

The way it does it is by using `Task.Run`.

`Task.Run` shouldn't be used for IO-bound operations, but for CPU-b

[2017-06-15 06:07] SeanFeldman commented on #177
@CodeCharm added some tests.

[2017-06-15 06:14] binzywu commented on #181
how often to you make a call? Would HTTP work better for your scenario?

[2017-06-15 12:49] bmmathe commented on #181
We only post to specific tops when a transaction takes place so it could be several minutes.  The HTTP client is just as slow (~1 second).  Referencing the Azure Service Bus Documentation: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements it seems like the full framework library maintains the open connection via a connection factory.  It doesn't seem

[2017-06-15 18:27] #138 closed

[2017-06-15 18:44] nemakam commented on #173
@SeanFeldman Given that is a distributed system in the backend, there can be timeout at any stage when transferring messages across machines. But for a SB user, any kind of `TimeoutException` is a retry-able exception.
Are you suggesting that there are `TimeoutException`s which doesn't work with retry?

[2017-06-15 19:35] SeanFeldman commented on #173
@nemakam not quite. What I'm saying is that exception handling becomes more complicated than it should be when `System.TimeoutException` is used since it doesn't have the `.IsTransient` attribute. It forces implementation that differentiates between transient and non-transient exception, where for non-transient exception `TimeoutException` is an outlier 😃

It could be simplified if `TimeoutExcepti

[2017-06-15 21:26] nemakam commented on #177
#183 is checked in. Next release should solve this issue

[2017-06-15 21:26] #177 closed

[2017-06-15 21:26] nemakam commented on #154
#183 is checked in. Next release should solve this issue

[2017-06-15 21:26] #154 closed

[2017-06-15 21:28] nemakam commented on #173
Oh If I read you right, you are suggesting **every** `TimeoutException` be thrown as `ServiceBusTimeoutException` with `IsTransient` as true?

[2017-06-15 21:29] SeanFeldman commented on #173
Precisely.

[2017-06-15 21:32] nemakam commented on #173
Sure. This seems to be a relatively simple change, but might require some testing. I've added the  help-wanted tag for this issue.
Feel free to pick it up

[2017-06-16 01:03] SeanFeldman opened #189 "MessageReceiver.ReceiveAsync(serverWaitTime) doesn't accept value less than a second"
Connect to #183 (see [comment](https://github.com/Azure/azure-service-bus-dotnet/pull/183#discussion_r122316536))

The fix for #154 and #177 reduced `serverWaitTime` from 1 minute to 1 seconds.
Attempts to reduce it to less than a second or setting to `TimeSpan.Zero` resulted in tests failure.
Can `MessageReceiver.ReceiveAsync(serverWaitTime)` accept values less than 1 second?

[2017-06-16 01:07] nemakam commented on #189
@SeanFeldman Typo in the heading?
"value less than a second"

[2017-06-16 01:13] SeanFeldman opened #190 "Running tests on PRs w/o jeopardizing security"
Currently PRs from external contributors are not running tests on build server (AppVeyor).

This creates a few problem of
- Contributors not being aware if they break anything by their changes
- ASB team members required to run those tests locally/manually

It would be ideal to find out a way to to execute tests on PRs as well.

/cc @nemakam

[2017-06-16 06:00] CodeCharm commented on #177
@SeanFeldman @nemakam I confirmed from my fork and the code I'm writing against it that the fix works. Thanks!

[2017-06-19 21:01] #173 closed

[2017-06-20 05:25] SeanFeldman commented on #99
@nemakam is [`getRules`](https://github.com/Azure/azure-service-bus-dotnet/tree/getRules) branch addresses this issue? If it does, an accompanying PR would facilitate visibility into how it's implemented and  allow discussion.

[2017-06-20 22:03] SeanFeldman commented on #99
Thank you @nemakam 🙂

[2017-06-20 22:03] SeanFeldman commented on #94
Any opposition if I try to tackle this one?

[2017-06-20 22:05] vinaysurya commented on #94
By all means :-)

[2017-06-21 03:34] SeanFeldman opened #194 "Suggestion: provide a GH group to ping for reviews to remove dependency on individuals"
When a community PR is raised, there's no public group to be pinged to indicate PR is ready for a review. Would be great if such a group would be created and documented in [`readme.md`](https://github.com/Azure/azure-service-bus-dotnet/blob/dev/README.md)

[2017-06-21 13:22] Hantse opened #195 "Topics"
Hello,

I try to use Topic with this version of library, with full framework i can use topic send/receive, on this version, i can send, but when i try do add RegisterMessageHandler, i receive this exception :
`The messaging entity 'myservicebus:topic:topicsample~15|microsoft%20azure%20sponsorship' could not be found. TrackingId:xxxxxxxxxx, SystemTracker:myservicebus:topic:topicsample~15|microsoft%

[2017-06-22 00:25] nemakam commented on #195
@Hantse, Sending to and receiving from topic is implemented and have several tests for this.
Are you using `SubscriptionClient` to receive or `MessageReceiver`?
Could you provide a sample code that could repro this?

[2017-06-22 04:31] Hantse commented on #195
Hello,

The receive code :
`class Program
    {
        private const string ServiceBusConnectionString = "mykey";
        private const string TopicName = "topicsample";
        private const string SubscriptionName = "Microsoft Azure Sponsorship";
        private static MessageReceiver msc;
        private static SubscriptionClient sc;

        public static void Main(string[] args)
        {

[2017-06-22 06:19] vinaysurya commented on #195
It is likely not running because MessageReceiver is being created with a topicName. MessageReceiver should always be created with a subscription Name.

Replacing:
msc = new MessageReceiver(ServiceBusConnectionString, TopicName);
with
msc = new MessageReceiver(ServiceBusConnectionString, EntityNameHelper.FormatSubscriptionPath(TopicName, SubscriptionName));

should fix the problem for you.

[2017-06-22 06:23] Hantse commented on #195
Hi,

Thank's, but same exception :
The messaging entity 'afeliosample:topic:topicsample~15|microsoft%20azure%20sponsorship' could not be found.

[2017-06-22 06:27] SeanFeldman commented on #195
Looks off. When you create your subscription client, that should be subscription **name** as in ASB subscription, not Azure subscription.

[2017-06-22 06:30] binzywu commented on #195
@SeanFeldman got the point.

Actually I just checked in service, the topic "AFELIOSAMPLE:TOPIC:TOPICSAMPLE " does not have any subscriptions under it. As suggested by @nemakam, you could use service bus explorer to check.

Furthermore, I don't think space (' ' or %20 as url encoded value) is ever supported as subscription name.

[2017-06-22 10:50] Hantse commented on #195
Ok, i try and that's work.

Thank's for your help.

[2017-06-22 16:02] #195 closed

[2017-06-22 16:05] SeanFeldman commented on #195
Can propose to label this as `question` to filter from issues that are not questions? Thank you.

[2017-06-22 21:05] binzywu commented on #194
@SeanFeldman Could you please try to use this github team? @Azure/azure-service-bus-write

Or do you mean a different way?

[2017-06-22 21:11] SeanFeldman commented on #194
Thank you @binzywu.

Would it be worth mentioning @Azure/azure-service-bus-write in readme.md? It's not showing up in auto-complete and not very intuitive (azure-service-bus-write for reviewers 😃).

[2017-06-22 21:13] SeanFeldman commented on #194
Also, `@Azure/azure-service-bus-write` seems to be hidden? When you use it, it's represented as a GH team. When I do that, it's not.

[2017-06-26 20:50] SeanFeldman opened #197 "ServiceBusNamespaceConnection hardcodes amqps as URI scheme for endpoint"
When `ServiceBusNamespaceConnection` is constructed with a connection string, it leverages `ServiceBusConnectionStringBuilder` to parse all parts. Except URI scheme. That one is [hard-coded](https://github.com/Azure/azure-service-bus-dotnet/blob/3d9c42b47fbba3132d63c04b3cdab79d419240bd/src/Microsoft.Azure.ServiceBus/ServiceBusConnectionStringBuilder.cs#L97) to `amqps`. Since endpoint information w

[2017-06-26 21:01] nemakam commented on #197
Thanks @SeanFeldman  for opening this...

[2017-06-26 21:35] #94 closed

[2017-06-28 07:20] SeanFeldman opened #198 "Message.UserProperties is about custom properties, not user"
Currently, `Message` defines two property collections:
1. System properties represented by `message.SystemProperties`
1. Custom properties represented by `message.UserProperties`

Documentation and standard nomenclature for brokered messaging doesn't use "user" properties. Therefore for consistency, suggest to rename `message.UserProperties` to `message.CustomProperties`.

[2017-06-29 01:15] vinaysurya commented on #189
Pull Request #199 should resolve this issue

[2017-06-29 01:15] #189 closed

[2017-07-02 12:35] smiggleworth opened #208 "QueueClient does not expose Renew and Receive"
## Actual Behavior
1. QueueClient does not expose Renew and Receive methods

## Expected Behavior
1. QueueClient would expose Renew and Receive methods

## Versions
All

[2017-07-02 15:36] SeanFeldman commented on #208
`QueueClient` now exposed [`RegisterMessageHandler`](https://github.com/Azure/azure-service-bus-dotnet/blob/dev/src/Microsoft.Azure.ServiceBus/QueueClient.cs) only. Agree, for simpler use cases it's a bit too much if you just need to get a single message. For that, there's [`MessageReceiver`](https://github.com/Azure/azure-service-bus-dotnet/blob/dev/src/Microsoft.Azure.ServiceBus/Core/MessageRece

[2017-07-02 17:00] smiggleworth commented on #208
Is there a plan to expose these methods?  Would you be open to a pull request?

[2017-07-02 22:38] SeanFeldman commented on #208
Don't see why team would not be willing to discuss this option, right @Azure/azure-service-bus-write?

Sender and receiver are internal and simpler  receives/ sends could be delegated.

[2017-07-03 15:09] SeanFeldman commented on #141
I've implemented claim check pattern here: https://github.com/SeanFeldman/ServiceBus.AttachmentPlugin

It's already [on nuget](https://www.nuget.org/packages/ServiceBus.AttachmentPlugin) and can be test driven.

[2017-07-05 19:45] flockoftanks opened #209 "Exception: A message handler has already been registered."
## Actual Behavior

The client successfully registers and waits for messages to become available in the queue, but once it starts receiving messages, it seems to be attempting to re-register the handler and I get infinite exceptions until it receives the next message, then continues to display the same exception message indefinitely.
[code]

## Expected Behavior
1. I only expect my console to disp

[2017-07-05 22:37] nemakam commented on #141
Looks clean and good. Thanks for the implementation @SeanFeldman.

[2017-07-05 22:43] SeanFeldman commented on #141
Thank you @nemakam for the review.
Any chance we could get NuGet package for the "OOTB" plugins going? I'm sure @jtaubensee would be happy to see it out 😃

[2017-07-05 22:47] nemakam commented on #141
Don't have an ETA as of now, but I assure you its high on our radar. 😄

[2017-07-05 22:54] SeanFeldman commented on #141
Great, appreciate sharing the status.
Last question - should I send a PR for the plugins [readme.md](https://github.com/Azure/azure-service-bus-dotnet-plugins/blob/dev/README.md) to add a section on community provided plugins? Hope ServiceBus.AttachmentPlugin will set an aspiring example and many more plugins will be added by the community.

[2017-07-05 23:01] nemakam commented on #141
We have this in our mind already. We do want to add third party plugin links to our readme. But I'm sure there are policy requirements that we need to take care of before we endorse a third party plugin. So you could raise a PR if you want, but it will be blocked till we get this straightened out.

[2017-07-05 23:36] SeanFeldman commented on #141
👍 sounds fair. Will raise PR to get the rest eventually moving.

[2017-07-06 04:08] SeanFeldman commented on #209
@flockoftanks could you provide a gist to how this block is hosted (where that try-catch is found)?

[2017-07-06 12:25] flockoftanks commented on #209
Oh man, I apologize.  Somehow a while loop ended up in there.  Think I pasted some bad code.  It kept re registering it and I completely missed it when I looked.  Sorry to waste everyone's time!  But thanks for getting back to me.

[2017-07-06 12:25] #209 closed

[2017-07-07 16:14] dstockhammer opened #213 "Missing Receive API"
The old Service Bus API supports implementing a custom message loop via `Receive` / `ReceiveAsync`. (https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.subscriptionclient.receiveasync?view=azureservicebus-4.1.1).

Is this API coming back? If so, is there an estimated target version or ETA? Surely users implementing their own message loop is a valid use case?

[2017-07-07 16:17] dstockhammer commented on #213
Oh never mind, just realized that there is `IMessageReceiver` which does exactly what I want.

[2017-07-07 16:17] #213 closed

[2017-07-12 20:11] vinaysurya commented on #185
Its already supported today

[2017-07-12 20:11] #185 closed

[2017-07-12 20:16] binzywu commented on #119
Data is now default type for .Net standard client to send and receive messages.

[2017-07-12 20:16] binzywu commented on #99
move to 1.0 as the code is ready but service is not.

[2017-07-12 21:33] binzywu commented on #208
@SeanFeldman sender and receiver are public classes.

[2017-07-12 21:36] binzywu commented on #181
sorry to get back later. It might be good if you could share some repro code to us. The sender only gets idle after 10 minutes to activity. So if the messages are sent every few minutes, the connection should be alive unless network issues.

[2017-07-12 21:38] SeanFeldman commented on #208
@binzywu I meant "senders and receivers used by queue client"

[2017-07-13 22:13] nemakam commented on #141
Closing this issue based on #13

[2017-07-13 22:13] #141 closed

[2017-07-14 00:28] nemakam commented on #194
Resolved using #215

[2017-07-14 00:28] #194 closed

[2017-07-14 00:49] nemakam commented on #114
Closing this with merge of #207

[2017-07-14 00:49] #114 closed

[2017-07-14 06:57] SeanFeldman opened #222 "Release was not made from the master branch"
So far releases were made from `master` except the last release `0.0.7-preview`.
Shouldn't `master` branch represent what's been released?

![image](https://user-images.githubusercontent.com/1309622/28201365-f15c93ae-682d-11e7-8d5d-a3e34be25f10.png)

[2017-07-14 18:10] vinaysurya commented on #222
Thanks for bringing this to our attention @SeanFeldman, Yes, we should have ideally made it from the master. But at this point since nothing has changed from master and dev, I've initiated a merge from dev to master. I'll also check if we need to make any other changes to release notes etc

[2017-07-14 18:16] SeanFeldman opened #224 "Adopt GitFlow with GitVersion"
[GitVersion](https://gitversion.readthedocs.io/en/latest/) allows easy implementation of [GitFlow](https://gitversion.readthedocs.io/en/latest/git-branching-strategies/gitflow-examples/) with SemVer in mind.

[2017-07-14 18:17] SeanFeldman commented on #222
No worries. At some point in time we should automate this process and look into gitflow to simplify the process. Raised #224 to track it.

[2017-07-14 20:29] vinaysurya commented on #222
Dev is now merged into master. It did not look like there were any other updates necessary to release notes etc. Should be good to close the issue @SeanFeldman ?

[2017-07-14 20:35] #175 closed

[2017-07-14 20:36] #119 closed

[2017-07-15 00:53] SeanFeldman commented on #222
Thank you @vinaysurya

[2017-07-15 00:53] #222 closed

[2017-07-17 17:13] binzywu commented on #208
@smiggleworth There is no plan to expose these on clients (QueueClient and SubscriptionClient) currently. As renew is done in the background and receiving is done by on message handler as Sean pointed out earlier. Client is built to support basic scenarios. If you want to have more control, then using MessageSender and MessageReceiver directly will be better option.

[2017-07-17 17:45] SeanFeldman commented on #208
@binzywu given the label, should it be closed? Thanks 🙂

[2017-07-17 17:45] #208 closed

[2017-07-17 18:09] vinaysurya opened #225 "Enable support for GetMessageSessions/ Session Browse API"
The full framework .Net Client exposes browsing of sessions on Queues using the GetMessageSessions API surface. This is not currently supported in the library. This issue is to track support for this.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queueclient.getmessagesessions?view=azureservicebus-4.0.0#Microsoft_ServiceBus_Messaging_QueueClient_GetMessageSessions

[2017-07-21 20:50] #99 closed

[2017-07-23 18:31] drewid opened #229 "Getting Error with MessageHandlerOptions - Issue with 0.0.7-preview?"
The sample project builds, but when trying to replicate the sample code to "Receive" messages from a queue I am getting the following error:

[code]

I am using Windows 10, Visual Studio 2017 Preview and the code in use is pretty much identical.

**The only significant differences are:**

1) Sample project is using .Net Core 1.0 and I am using .Net Core 1.1 (sample works when I choose 1.1)
2) Samp

[2017-07-23 18:37] drewid commented on #229
After doing the obvious and changing the NuGet package being used to 0.0.5-preview, I can confirm there is an issue between 0.0.5-preview and 0.0.7-preview.

The sample project works with 0.0.5-preview but **NOT** with 0.0.7-preview.  Not sure exactly what changed but help with figuring that out would be greatly appreciated.

[2017-07-23 19:15] SeanFeldman commented on #229
@drewid you're correct that there was a change in the `RegisterMessageHandler` API and the sample should have been updated (I'll raise a PR). Saying that, compiler error says exactly what needs to be done 😉

[code]
I.e. You need to provide a func/callback into the `MessageHandlerOptions`.

[2017-07-23 19:15] #229 closed

[2017-07-23 19:28] SeanFeldman commented on #229
@Azure/azure-service-bus-write: messages sent with `0.0.5-preview` are incompatible with `0.0.7-preview`. The sample should probably note that there's not wire compatibility on messages sent with different preview versions.

[2017-07-23 19:44] SeanFeldman commented on #229
@drewid see PR under the right repo: https://github.com/Azure/azure-service-bus/pull/51

[2017-07-23 20:59] drewid commented on #229
@SeanFeldman - having a brain cramp still trying to figure out what is being asked for in 0.0.7.

[2017-07-23 21:01] SeanFeldman commented on #229
You need to provide a func/callback for the `MessageHandlerOptions` constructor. See PR for details.

[2017-07-24 16:17] johnknoop opened #231 "Suggestion: add events for diagnostics"
I have a pretty straight forward console app that registers a session handler, and persists every message to a database. This is running in a Docker container on an Ubuntu VM in Azure.

My problem is that after a few days of inactivity (i.e. no messages on the queue) the console app seems to loose connection or something, because it stops handling messages. Now, I don't know where the problem migh

[2017-07-24 17:17] vinaysurya commented on #231
John,
 When you register for SessionHandler using say the Register method below, the 'exceptionReceivedHandler' can be used to register for any exceptions seen in the session pump. Are you already subscribed to this and if so do you not see any exceptions from this handler?
RegisterSessionHandler(Func<IMessageSession, Message, CancellationToken, Task> handler, Func<ExceptionReceivedEventArgs, Task

[2017-07-24 18:55] johnknoop commented on #231
Cool. Didn't know about that one (needed the latest version of the package).

I actually get an exception _every time_: "The session lock has expired on the MessageSession. Accept a new MessageSession."

Even if I publish a session with a completely new, unused session id. Any idea what that might be? Feels like a false negative, since the message gets consumed and removed from the queue.

[2017-07-24 19:14] vinaysurya commented on #231
But at this time, do you know if your session handler callback (1st argument) from below, actually get the session and process it? Or it did not get any sessions at all during this time?

RegisterSessionHandler(Func<IMessageSession, Message, CancellationToken, Task> handler, Func<ExceptionReceivedEventArgs, Task> exceptionReceivedHandler)

[2017-07-24 20:24] johnknoop commented on #231
No, everything gets processed. I have two processes running in different console windows. One sending and one receiving. And everything works as expected, so it's strange that I get the exception callback.

[2017-07-25 11:18] johnknoop commented on #231
Found the reason: apparently, the default value for AutoComplete is true, and since I do my own `session.CompleteAsync(message)`, the message is already completed when the "autocompletion" wants to do it's thing. Turning that setting to false resolved the issue.

Ok, great, now I'm going to deploy this code onto my Azure vm and see if anything suspicious gets written to the log in a few days.

[2017-07-26 16:43] joaocc opened #234 "Is there any way to use this on Unity/Hololens?"
Hi,
We are trying to find a way to connect a Unity app for Hololens to Azure Service bus.
Even when using .net 4.6 experimental mode in Unity, we get some exceptions.
Is anyone working on a port/fork of this library to support Unity/UWP?
Thanks

[2017-07-26 17:35] vinaysurya commented on #234
This library is already compiled for UWP. So should work. Have you tried and it does not work?
https://github.com/Azure/azure-service-bus-dotnet/blob/dev/src/Microsoft.Azure.ServiceBus/Microsoft.Azure.ServiceBus.csproj#L45

[2017-07-26 17:35] #231 closed

[2017-07-26 23:29] #197 closed

[2017-07-26 23:31] SeanFeldman commented on #197
Closed via https://github.com/Azure/azure-service-bus-dotnet/commit/d9ac7decf341c09d1bf5dda280ea515ccd82c6a1 😉

[2017-07-26 23:41] SeanFeldman commented on #190
One of the discussed options is when a build is executed, it create a resource group `sb-dotnet-av-$buildVersion-rg` which is removed when the build is done. This means PRs would be creating their own RGs and removing those when the build is done.

Problem with this approach is that it makes secrets `azure-service-bus-dotnet/ClientSecret` and `azure-service-bus-dotnet/CodeCovSecret` vulnerable 😞

[2017-07-26 23:42] SeanFeldman commented on #224
With the new client, will be there any support branches or will it be the "evergreen" version only?

[2017-07-26 23:44] SeanFeldman commented on #198
@binzywu considering that there are no more issues for `1.0.0` milestone, this will be a breaking change that can't be made until next major, `2.0.0` according to SemVer. Should this be included in `1.0.0`?

[2017-07-26 23:46] SeanFeldman commented on #109
@Azure/azure-service-bus-write this hasn't see any action. Should it be addressed?

[2017-07-26 23:49] nemakam commented on #224
@SeanFeldman  Currently, we do not have plans to maintain support branches. If we find a bug, it will be addressed in the latest version of the code unless there are huge breaking changes. If there are, then we will look at it on a case-by-case basis.

[2017-07-26 23:51] SeanFeldman commented on #52
Would this be considered for `1.0.0` or later?

[2017-07-26 23:55] nemakam commented on #52
Like discussed, this would require AMQP transactions to be implemented first. Unfortunately, this would not make it to `1.0.0`.

[2017-07-27 00:03] SeanFeldman commented on #52
Thanks @nemakam. Skipped that comment. So it could be then added to the [`2.0.0` milestone](https://github.com/Azure/azure-service-bus-dotnet/milestone/9) or `2.x` in case it has to be done after #6 is finished.

[2017-07-27 00:07] nemakam commented on #52
This issue has been added to milestone `backlog`. Given that we haven't planned for this feature yet, it might not be right to assign `2.0` milestone for this issue yet.

[2017-07-27 07:00] joaocc commented on #234
Hi,
Unity does not support threading in the same way that UWP does, so it doesn't really work.
We have tried porting some of the SAS code to Unity for Hololens for a quick proof of concept, and we needed some changes in the code (things as trivial as UriEncode had to be found in the WWW class).
Probably more importantly, Unity has it's own way of invoking HTTP methods (WWW, UnityWebRequest or some

[2017-07-27 12:04] johnknoop opened #237 "QuotaExceededException"
I started my console app two days ago, and have since then received no more than 4 messages. Yet today, I get this exception:

I'm not sure what kind of handles it is referring to, but to imagine that I would have exceeded some form of quota after this little activity seems wrong.

[2017-07-27 12:14] joaocc commented on #234
We just found another problem in trying to use it. HMAC256 works on the Editor, but then it fails in building.
We found a workaround by looking at how AWS does it in the SDK mentioned above...
[code]
It seems that for some reason System.Security.Cryptography.HMAC256 is not available when building for Hololens (it works in Editor) but System.Security.Cryptography.HashAlgorithm is available in both

[2017-07-27 18:11] nemakam commented on #237
@johnknoop , could you provide a sample code that repro's this issue? How are you using service bus? Is it Queues or Topics? Is sessions enabled on the entity?

[2017-07-27 18:12] SeanFeldman commented on #237
:+1: for a repro.
Wouldn't be able to assist w/o having more context.

[2017-07-27 18:27] johnknoop commented on #237
Hi

Here's my code:

[code]

Thats it.

John

[2017-07-27 18:30] nemakam commented on #237
@johnknoop , Did you receive any exception event these two days?

[2017-07-27 18:46] johnknoop commented on #237
No, only today. I sent two messages this morning. Both were received and saved but the exception was logged as well.

[2017-07-27 22:44] nemakam commented on #237
This must be a manifestation of https://github.com/Azure/azure-amqp/pull/68 .
Older links that were created were not cleaned up. Once that PR is completed and a new version is released, this should be taken care automatically.

[2017-07-28 18:41] vinaysurya commented on #234
@joaocc, we'll try this out when we find some time and evaluate what could be done here.

[2017-07-31 21:43] SeanFeldman opened #239 "Wire compatibility is broken"
## Expected Behavior

To be able to send a byte array from the new client (`Microsoft.Azure.ServiceBus`) to the old client (`WindowsAzure.ServiceBus`).  Just like the new client can read `BrokeredMessage`s using [`GetBody<>` extension method](https://github.com/Azure/azure-service-bus-dotnet/blob/b742d558e37095f66ef9cf1ce4e5c7c3a7c6aefb/src/Microsoft.Azure.ServiceBus/Extensions/MessageInterOpExten

[2017-07-31 21:45] SeanFeldman commented on #239
I've attached a repro ([asb.wire.compat.byte.array.linq.txt](https://github.com/Azure/azure-service-bus-dotnet/files/1188920/asb.wire.compat.byte.array.linq.txt)) using [LinqPad](http://www.linqpad.net/download.aspx).

[2017-07-31 23:04] vinaysurya commented on #239
@SeanFeldman , can you try received2.GetBody<Stream>() and convert the stream into bytes using say Stream.ToArray() ?

[2017-07-31 23:04] vinaysurya commented on #239
received2.GetBody<Stream>() i meant*

[2017-08-01 06:22] SeanFeldman commented on #239
@vinaysurya suggested workaround works, but it means implementations using old client require changes to be deployed to work with the messages sent by the new client.

Does that mean that sending `byte[]` using the old client or the new client both could be received by the old client using `msg.GetBody<Stream>()` converted later to a `byte[]`?

[2017-08-01 06:28] SeanFeldman opened #240 "MessageHandlerOptions.ExceptionReceivedHandler can be overridden via property setter"
Currently, the following is possible:

[code]

This code second assignment of `ExceptionReceivedHandler` will cause logic initially registered with the failure handler to be lost.

`MessageHandlerOptions` should either not allow `ExceptionReceivedHandler` property to be assigned as [handler is mandatory](https://github.com/Azure/azure-service-bus-dotnet/blob/b742d558e37095f66ef9cf1ce4e5c7c3a7c6aef

[2017-08-01 08:59] Niyo commented on #239
Same problem here. I am sending a Message with .NetCore 0.0.7 preview and I am trying to read the message with the ServiceBus SDK. `BrokeredMessage.GetBody<string>` fails because of XmlSerializer error.

I sent a message with 0.0.7 preview and and the full .Net version.
To get the string from the preview sent message, I read the Stream, converted it to byte[] and then to Utf8 String.
The result is

[2017-08-01 15:59] SeanFeldman commented on #239
On the wire compatibility - w/o deploying workaround to all the older endpoints that would consume `byte[]`-base and `Stream`-based messages the same way, this would would not work 😞

Do you know @vinaysurya in what version of the old client (Microsoft.Azure.ServiceBus) was the workaround added? In the past that didn't work. Thank you.

[2017-08-01 19:42] #240 closed

[2017-08-02 16:54] barkhashah opened #243 "How to delete and get the statistics of the queue implementation of the service bus"
Hi Azure-service-bus-dotnet team,

I have few questions regarding the new implemenation for the azureservicebusdotnet. In the previous old client ( Microsoft.ServiceBus ), we used to have NameSpaceManager which has these APIs ( QueueExistsAsync, DeleteQueueAsync, GetQueueAsync ) and some classes like QueueDescription, TopicDescritpion for Topic that are missing in the newer implementation ( Micros

[2017-08-02 17:45] vinaysurya commented on #243
@barkhashah, all operations you are mentioning all fall into management operations.. At this point in time we do not plan to support management operations in this library and it is only meant for runtime operations.  All management operations will be using the Microsoft.Azure.Management.ServiceBus library.

https://github.com/Azure/azure-service-bus-dotnet/blob/a171b6cf8c5f99e534099de87260663fee3e

[2017-08-02 18:34] SeanFeldman commented on #239
@Azure/azure-service-bus-write would it be possible to trace back in what version of the ASB old client (WindowsAzure.ServiceBus) to see when this workaround became possible? Thank you.

[2017-08-02 19:30] vinaysurya commented on #239
@SeanFeldman, there was no workaround added in the older client to support this scenario. Was there an errors when you tried this earlier?

[2017-08-02 19:52] SeanFeldman commented on #239
We had an error in the past @vinaysurya, which led to separation of how body is accessed.
I'll definitely explore this route.

Saying that, it is still not addressing the fact that endpoints using old client cannot receive messages with `byte[]` body using `GetBody<byte[]>()` sent from the new client. The only way to achieve that is to re-deploy old endpoints and use the alternative method suggest

[2017-08-02 20:18] vinaysurya commented on #239
@SeanFeldman, yes we understand that is going to be an issue for processing with older clients . At this point, we are trying to see what makes sense for interop as a whole, not just for our older dotnetclients (if we did it in a particular way there) but also understand how interop might look like with for ex say ProtonJ/QPID JMS etc and do what will likely be better for all of them. So will upda

[2017-08-03 04:41] SeanFeldman commented on #239
@vinaysurya should this be labeled as a `bug`?

[2017-08-03 12:16] dmitry606 opened #246 "Cannot add rule to topic subscription"
AddRuleAsync call always throws - "The service was unable to process the request; please retry the operation.". At the same time, it is possible to add rules to the same subscription using Service Bus Explorer.

     static void Main(string[] args)
    {
        var subscriptionClient = new SubscriptionClient(
            nsConnString,
            topicName,
            subsName,
            Recei

[2017-08-03 13:12] dmitry606 opened #247 ".NET Core 2.0 support"
The library is unusable on .NET Core 2.0. I already posted one issue https://github.com/Azure/azure-service-bus-dotnet/issues/246, but even without that, I now get every second message lost. When do you plan to add support for .NET Core 2.0?

[2017-08-03 13:22] SonOfMa opened #248 "Windows Service Bus 1.1 errors"
## Actual Behavior
I can't find any Windows Service Bus Client that supports .NET Core, so I've been trying to get the Azure client to work with our Windows Service Bus 1.1 server. However, I get an error in my .NET Core 2.0 project when I try to use the QueueClient():

`
03.08.2017 15.03.14: Microsoft.Azure.ServiceBus.MessagingEntityNotFoundException: None of the server sasl-mechanisms ([PLAIN,EX

[2017-08-03 17:33] SeanFeldman commented on #246
Quoting from [readme.md](https://github.com/Azure/azure-service-bus-dotnet#can-i-manage-service-bus-entities-with-this-library):

Considering that management operations would not be performed by this library, is it right to have this API in this client library?

[2017-08-03 17:35] SeanFeldman commented on #247
The library support .NET Standard 1.3, so shouldn't be an issue running under .NET Core 2.0.
@dmitry606 out of curiosity, aside from #246 could you provide a repro for message lost error? Thank you.

[2017-08-03 18:06] vinaysurya commented on #248
The Authentication model used by Service Bus Server is not supported in this Client. Given that the official support for ServiceBus Server ends January 9th, 2018 (https://support.microsoft.com/en-us/lifecycle/search?alpha=service%20bus%20for%20windows%20server), at this point we do not have currently have plans to add the required auth support for Server with this library

[2017-08-03 18:08] nemakam commented on #246
@dmitry606 , error which adding rule is a known bug and is fixed in master branch. Refer #227 .
We would be releasing the next nuget package with these fixes very soon.

[2017-08-03 18:34] SeanFeldman commented on #246
@nemakam could you please address my [question](https://github.com/Azure/azure-service-bus-dotnet/issues/246#issuecomment-320037841) as well? Thank you.

[2017-08-03 18:47] nemakam commented on #246
Rules are considered runtime operations and are used more heavily. Customers create and delete rules in the same transaction consisting of sends and receives. That is why we have rule operations in this library. Let me know if it answers your question. I'll mark this issue closed.

[2017-08-03 19:35] SeanFeldman commented on #246
Thank you @nemakam. My confusion was coming from the fact that rules are also entities.
👍 to close.

[2017-08-03 20:49] #246 closed

[2017-08-03 21:40] barkhashah commented on #243
The sample application for management library is still using older preview version of servicebus lilbrary (0.0.1 )and it was very confusing because It took me some time to figure out that TopicCreateOrUpdateParameters is gone and instead we use SBTopic. Kindly update your samples also as and when new preview versions of libraries are released.

[2017-08-03 22:17] barkhashah opened #252 "GitHub link for the latest Microsoft.Azure.Management.ServiceBus"
Hi
I am looking for the source code for the Microsoft.Azure.Management.ServiceBus ( 1.0.0) june 30th in the GitHub but not able to find it. The documentation is still pointing to the old source code which is the preview version. ( https://github.com/Azure/azure-sdk-for-net/tree/AutoRest/src/ResourceManagement/ServiceBus) .

Can anyone please help me out? The new release does not seem to have Topic

[2017-08-04 05:25] dmitry606 commented on #247
It was me, I just had 2 receivers on the same subscription.. :)

[2017-08-04 05:25] #247 closed

[2017-08-04 17:49] binzywu commented on #239
ServiceBus started with SBMP which is a protocol built on top of WCF. At that time, DataContract Serialization became a `natural` choice to object serialization which is fine. But as it is hidden underneath implicitly. Our BrokeredMessage is actually representing 2 types of messages, Stream (Bytes as we don't really send them as stream) Message and Object Message. When you send stream, you get str

[2017-08-04 18:53] vinaysurya commented on #252
Barkha,

We are in the process of pushing an update to the https://github.com/Azure-Samples/service-bus-dotnet-management samples page, that will let you use the new SBTopic etc to create and manage topics/subscriptions/rules..

If you see this pull requests, it addresses your question already. We are working to publish the update soon. Until then please have a look at here to see how it can be ma

[2017-08-04 19:01] vinaysurya commented on #243
Like I mentioned on the other thread, w.r.t samples, we are updating the samples to use the latest version. Expect an update on this next week. Until then please use this Pull request to see the updated sample.
Azure-Samples/service-bus-dotnet-management#6

[2017-08-04 20:31] barkhashah commented on #65
@SeanFeldman  https://github.com/Azure/azure-sdk-for-net/tree/AutoRest/src/ResourceManagement/ServiceBus
This link is pointing to old source code. Management library 1.0.0 is way different than this. When we use nuget package manager, we do get the latest release however, I need to see the source code.

[2017-08-04 20:47] barkhashah opened #254 "what is the substitute of MessagingEntityAlreadyExistsException in the new management library"
if the subscription resource already exists then what kind of exception be thrown by the new library? Old library had MessagingEntityAlreadyExistsException but this seems to be missing in the new implementation.

I am using this method to create the subscription:

public static Task<SBSubscription> CreateOrUpdateAsync(this ISubscriptionsOperations operations, string resourceGroupName, string names

[2017-08-04 20:53] barkhashah commented on #252
Thanks vinaysurya . Will keep an eye on it . Alternatively please let me know on this link too :)

[2017-08-04 21:02] barkhashah commented on #252
@vinaysurya Actually I need the source code for the management library 1.0.0 itself more than the sample code. https://github.com/Azure/azure-sdk-for-net/tree/AutoRest/src/ResourceManagement/ServiceBus is pointing to the old Code !!!
This should be there somewhere , right?

[2017-08-04 21:10] barkhashah opened #255 "SubscriptionDescription vs SBSubscription - missing parameters"
EnableDeadLetteringOnFilterEvaluationExceptions, ForwardTo, ForwardDeadLetteredMessagesTo and UserMetadata are no longer part of SBSubscription. They used to be in SubscriptionDescription in the old library.

Are they not relevant anymore or they are being used else where?

[2017-08-04 21:24] SeanFeldman commented on #255
Being part of management operations, `SubscriptionDescription` I'd needed when entities are managed. See management library for alternative 😉

[2017-08-04 21:30] SeanFeldman commented on #254
@barkhashah this repo is **not** dealing with entity management API. You raise your questions in the wrong repo 🙂 Repository you want is https://github.com/Azure/azure-sdk-for-net/

[2017-08-04 21:32] SeanFeldman commented on #65
You're looking at a specific branch. That team might be releasing from
different branches. Raise an issue in appropriate repo to get an answer
since I'm not a Microsoft-ie 🙂

On Aug 4, 2017 14:31, "barkhashah" <notifications@github.com> wrote:

[2017-08-04 21:59] vinaysurya commented on #252
@barkhashah, looks like this is the link for the latest ServiceBus Management library.. If you see the version on the csproj there it indicates the version as 1.0.0 which is the current version.

https://github.com/Azure/azure-sdk-for-net/tree/3b013cd9b9aac9407f3d9bea221922d037c1596a/src/SDKs/ServiceBus/Management.ServiceBus

[2017-08-06 16:05] udidahan commented on #239
I'm going to try to reiterate the main issue here which I think is well-stated in the title. Systems in production that currently work with Azure Service Bus should not be broken.

[2017-08-06 20:21] Aleksanderis opened #257 "Plans for the "old" WindowsAzure.ServiceBus library"
I didn't find any exact topic mentioning it, but what are the plans for the "old" WindowsAzure.ServiceBus library (https://www.nuget.org/packages/WindowsAzure.ServiceBus)? I see it's still being quite actively maintained (last update was on July 22, 2017).
However what I read about the new library in this repository - I got an impression that old library was quite "old-fashioned" and didn't match

[2017-08-07 16:31] UnoSD opened #258 "CancellationToken support"
## Actual Behavior
ReceiveAsync and ReceiveBatchAsync wait until a message is present on the queue. To shut down, the Abort() method must be invoked or a timeout added (which will lead to pointless loops); the Abort() will abort all the receive calls, the only way around is breaking the guidelines of the lifetime and create multiple clients in the application for the same queue (not tested and mig

[2017-08-07 17:11] vinaysurya commented on #257
WindowsAzure.ServiceBus will be supported and maintained and there are no current plans to completely replace it.

[2017-08-07 17:12] #252 closed

[2017-08-07 17:12] #248 closed

[2017-08-07 17:14] #254 closed

[2017-08-07 17:24] Aleksanderis commented on #257
Ok, thanks for the response! Just one more clarification.;)
It will be supported and maintained, but not ported to .NET Core/.NET standard? I.e. the only option for .NET Core is to use the "new" library?

[2017-08-07 17:32] vinaysurya commented on #255
@barkhashah, Forwardto and ForwardDeadLetteredMessagesTo were not supported with ARM until recently. We recently added supported for this feature through ARM. The way this works is once the swagger template is exposed for these new features, the next revision of management library  will automatically include them in the Subsequent release. Expect the ForwardTo and ForwardDeadLetteredMessagesTo to

[2017-08-07 19:13] vinaysurya commented on #257
Correct!

[2017-08-07 22:26] vinaysurya commented on #255
@barkhashah, looks like EnableDeadLetteringOnFilterEvaluationExceptions got left out. We have created a bug to expose this as well and will check other properties too. But they should all become available with the next refresh of the mgmt library.

[2017-08-08 01:00] binzywu commented on #239
So there are 2 scenarios, let me explain how things will work with current .netstd client.

## 1. send via full .net client and receive via .netstd client
| type sent via .netfull |  receive via .netstd |
|:--------------|:----|
| stream | bytes (which is literally bytes from stream) |
| object (including string, bytes[]), the object is serialized with DataContract | GetBody\<T\> (the extension me

[2017-08-08 01:44] #167 closed

[2017-08-08 16:48] SeanFeldman commented on #239
@binzywu I've ended up doing the same thing copying internal `DataContractBinarySerializer` class to my code. #259 will address this issue. Thank you ☺️

[2017-08-08 16:55] SeanFeldman commented on #255
Link?

[2017-08-08 17:02] SeanFeldman commented on #258
[.NET client](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queueclient.receiveasync) didn't have that overload as well.

[`RegisterMessageHandler`](https://github.com/Azure/azure-service-bus-dotnet/blob/7cd009cc2daf90105025d5cf6d9e80fa203a5c63/src/Microsoft.Azure.ServiceBus/QueueClient.cs#L394) accepts a token. Receive async or receive batch async do expose a an overl

[2017-08-08 17:10] UnoSD commented on #258
`RegisterMessageHandler` unfortunately does not support batch.

I am currently using the timeout, but: a short timeout causes the service to loop unnecessarily several time, a long timeout then delays heavily the shutdown as it needs to wait on the expiration (we may solve it using `.Abort()` if it breaks the wait).

Would be nice to see this feature, I would create an issue on the .NET Client rep

[2017-08-08 17:27] #257 closed

[2017-08-08 17:31] mintyfusion opened #260 "Issue with AMQP when running on Xamarin.iOS"
Please refer to the issue here: https://github.com/Azure/azure-amqp/issues/71 which happens when receiving message from Service Bus on Xamarin.iOS

The issue has been fixed by AMQP team and I was wondering if you know when the new package with updated AMQP can be released?

[2017-08-08 18:20] vinaysurya commented on #260
@mintyfusion, the current version of ServiceBus is already released with the version of Amqp 2.1.0 that carries the fix you mention. Can you please try with the latest version of this library if your scenario works?

[2017-08-08 18:53] SeanFeldman commented on #258
.NET client most likely won't get new feature as it's planned to be in
supported for critical  bugs only. If you want this feature for the new
client (netstd), this issue is it 🙂

On Aug 8, 2017 11:10, "UnoSD" <notifications@github.com> wrote:

[2017-08-08 19:11] binzywu commented on #239
@SeanFeldman glad it works. also as you also pointed out, expose the internal data contract isn't necessary. So I also close the PR.

[2017-08-08 19:15] mintyfusion commented on #260
Yes, it works. The message is correctly received in Xamarin.iOS. Thank you very much.

[2017-08-08 19:15] #260 closed

[2017-08-08 20:28] UnoSD commented on #258
Thank you :)

[2017-08-08 21:44] binzywu opened #261 "Get and Set SessionState should take bytes not stream"
## Actual Behavior
1. Current API takes Stream

## Expected Behavior
1. Takes bytes instead of stream

This is a breaking change but a necessary for moving to 1.0 GA.

## Versions
- OS platform and version: N/A
- .NET Version: N/A
- NuGet package version or commit ID: N/A

[2017-08-08 22:14] SeanFeldman commented on #261
The version is still not GA-ed, so np with the change @binzywu

[2017-08-08 22:28] SeanFeldman commented on #258
I'm not to be thanked, unless @Azure/azure-service-bus-write decide to mark it as a feature request and it's eventually implemented 🙂

[2017-08-09 05:56] SeanFeldman commented on #239
@binzywu this would be a good candidate for a sample.

[2017-08-09 10:34] paulb2011 commented on #237
I'm seeing this exception as well with version 4.1.3:

I have a service which sends an event every 5 minutes, 24 hours a day, after about a week I started seen this exception:

Microsoft.ServiceBus.Messaging.QuotaExceededException: Cannot allocate more handles to the current session or connection. The maximum number of handles allowed is 4999. Please free up resources and try again., referenceId:

[2017-08-09 20:39] #261 closed

[2017-08-10 04:31] vinaysurya opened #265 "CBS Tokens on the link are not being renewed."

[2017-08-10 04:33] vinaysurya commented on #265
Created Pull Request for this:
https://github.com/Azure/azure-service-bus-dotnet/pull/264

[2017-08-10 06:22] #265 closed

[2017-08-10 06:24] binzywu commented on #255
@SeanFeldman unfortunately it is internal. I need to find a way to link the internal vsts with github issues.

[2017-08-10 12:56] TWolverson opened #268 "Support AMQP transport in config-driven WCF applications"
## Actual Behavior
1. There does not seem to be any way to create a WCF client or service using AMQP transport. There is no equivalent AmqpBinding for the NetMessagingBinding, for example. If this is possible, it is not documented anywhere that I can find.
2.

## Expected Behavior
1. Allow creation of WCF services and clients running AMQP transport, using the usual WCF configuration mechanism
2.

[2017-08-10 15:41] cjpomer opened #269 "How does one configure this library to use a proxy for HTTP traffic?"
In the full framework this was previously handled in web.config or app.config with a default proxy.  Additionally, there is code that can change the default proxy for the process running.  In netcore that functionality is deprecated or unfinished.

But surely there must be a way to consume this API from behind a proxy?

Sorry if this is the wrong forum (I'm a bit new to github).  And I see that ot

[2017-08-10 22:30] binzywu commented on #269
@cjpomer We have not added the websocket support yet which we will add in near future. But we will. However, to give definitive answer about whether proxy is supported across all platforms, we don't know yet.

[2017-08-10 22:39] binzywu commented on #268
@TWolverson Do you mean our old Full .Net client? The new .net standard client doesn't support WCF.

[2017-08-10 22:40] TWolverson commented on #268
@binzywu I suppose so? Is this not the repo corresponding to the Nuget package Microsoft.ServiceBus? There are a couple of different sources that suggest that library has never been fully open-sourced. If this isn't it, which one is?

[2017-08-10 23:25] cjpomer commented on #269
Thanks @binzywu.

I want to e.g. receive messages from a queue or topic on a machine running behind a web proxy.

Can you help me understand how websocket will help?

[2017-08-11 02:50] vinaysurya opened #272 "AmqpErrorCode NotFound are all translated as MessagingEntityNotFoundExceptions"
Not all not found errors should translate to EntityNotFound.

[2017-08-11 05:13] binzywu commented on #269
Our underneath [AMQP library](https://github.com/Azure/azure-amqp) supports WebSocket as transportation which uses the WebSocket implementation in .Net which support proxy. WebSocket uses service bus https endpoint.

[2017-08-11 15:26] vinaysurya commented on #272
Issue was still happening in stress runs

[2017-08-11 18:58] vinaysurya commented on #237
@paulb2011, this github is only tracking issues for the new `Microsoft.Azure.ServiceBus` library. The issue you are referring to is from the old `WindowsAzure.ServiceBus` client library. Can you please create a new issue in this repo(https://github.com/Azure/azure-service-bus/issues) and we will triage and fix with the next release of that library

[2017-08-11 18:59] vinaysurya commented on #237
@johnknoop, Can you confirm if the issue is fixed for you with the new version of this library. If so, we can close this issue.

[2017-08-11 21:35] johnknoop commented on #237
Hi @vinaysurya

Unfortunately I haven't been able to do that, due to an issue with Visual Studio Team Services currently. But I'll close this issue for now, assuming it will be fixed. Otherwise I'll re-open.

Thanks

[2017-08-12 01:51] binzywu commented on #268
This is not the repo for our full .net library. This repo is a brand new library that only supports AMQP not netmessaging. The full .net one is never open sourced. And I don't think we ever will. To open issue against that, you can go to this repo https://github.com/Azure/azure-service-bus. Where we take all issues related to old client and services. That repo also contains all the samples.

[2017-08-12 10:48] TWolverson commented on #268
@binzywu  OK I'll do that, thanks.

[2017-08-14 18:50] abombss commented on #198
The User nomenclature probably comes from the fully qualified name reference required when using Actions and Filters for these custom headers.  I would recommend keeping User given its a breaking change at this point, and just update documentation to reflect User instead of Custom.  Especially since that has been establish usage in Rules and Actions since the beginning of service bus.

[2017-08-14 19:02] SeanFeldman commented on #198
@abombss this issue is no longer relevant since 1.0 has been shipped 😃 `UserProperties` it is.
Can be closed.

[2017-08-15 13:13] BrianVallelunga opened #276 "Document best practices for high-performance usage"
I'd like to see some documentation on how to best use this library in high-performance scenarios. For example, given a web server that needs to send thousands of messages per minute spread among multiple queues and topics, what are the best practices? Which objects should be cached and reused and which should be recreated when needed? Will any of the clients ever end up in an error state and need

[2017-08-16 02:24] vinaysurya opened #277 "UWP Scenarios not working with version 1.0.0 library"
When attempting Universal Windows Platform Send/Receive application using Microsoft.Azure.ServiceBus library which in turn references Microsoft.Azure.Amqp library version 2.1.0, we get the following error during the first send/receive

System.InvalidOperationException: A method was called at an unexpected time. (Exception from HRESULT: 0x8000000E)

The issue has already been fixed in the Azure.Amq

[2017-08-16 19:06] #272 closed

[2017-08-16 19:27] #198 closed

[2017-08-16 19:46] #268 closed

[2017-08-16 19:50] vinaysurya commented on #243
@barkhashah, the samples repo for Azure-Samples/service-bus-dotnet-management is now updated.

[2017-08-16 19:50] #243 closed

[2017-08-17 23:28] vinaysurya opened #279 "Enable C-Sharp Style Rules on the Project to preserve Method Ordering rules"

[2017-08-18 05:14] SeanFeldman commented on #40
It will be possible to enable API approval for netstandard2.0 when https://github.com/approvals/ApprovalTests.Net/issues/162 will be addressed.

[2017-08-18 06:08] #277 closed

[2017-08-18 07:16] SeanFeldman opened #280 "Add Source Link support"
### Why?

To make developers life easier. Allow stepping into ASB client source code when needed w/o wasting time.

### How?

[SourceLink](https://github.com/ctaggart/SourceLink)

### Will it support multiple targets?

Yes

### What will it look like?

I've applied this to [`ServiceBus.AttachmentPlugin`](https://www.nuget.org/packages/servicebus.attachmentplugin) version 1.0.2 and up. You can try

[2017-08-18 07:19] SeanFeldman commented on #280
I can send a PR if there are no objections 🙂
<img src="https://media.giphy.com/media/J33SbyIEQ4SoU/giphy.gif" />

[2017-08-18 11:09] thisispaulsmith opened #281 "Calling QueueClient.SendAsync(..) hangs"
Calling `await queueClient.SendAsync(message);` hangs.

I've tried this in several projects but the same behavour is experienced running the sample code documented here [https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/BasicSendReceiveUsingQueueClient](url)

This hangs everytime.

I would expect this to publish a message to the service bus.

Visual S

[2017-08-18 15:47] vinaysurya commented on #280
Thanks for the idea @SeanFeldman ! Sounds great! Think this will be very handy for people running into issues and want to do a first hand analysis of what is going and may result in a PR following it too :-)

[2017-08-18 16:03] vinaysurya commented on #280
![image](https://user-images.githubusercontent.com/20955970/29467106-164b53ee-83f4-11e7-929b-3b2ccb440288.png)

[2017-08-18 16:26] SeanFeldman commented on #280
@vinaysurya you read my mind 😉

I'll send a PR shortly. Will it go into `1.1.0`?

[2017-08-18 16:33] vinaysurya commented on #280
I've tagged for 1.1.0, will check with @binzywu and @nemakam and confirm

[2017-08-18 16:40] SeanFeldman commented on #280
Great. Once a PR is there, this could be slowly applied to rest of the .NET libraries/packages. At least this is my hope.

[2017-08-18 18:03] nemakam commented on #280
Its pretty handy. Definitely worth a try. (y)

[2017-08-18 21:42] nemakam commented on #281
@thisispaulsmith I just tried the sample again with different types of queues and the same environment config (2017 + 1.1NetCoreApp) and things work as expected.
Do you have more details on where in client library code does it hang? Also, could you try running it from another machine and check the result?

[2017-08-18 21:45] nemakam commented on #281
My hunch is that you aren't able to establish a connection in the first place. Double check your firewall rules which may blocks these requests. Also, do you run behind a proxy?

[2017-08-18 22:24] SeanFeldman commented on #281
Alternatively, provide a link to a repro.

[2017-08-19 08:17] thisispaulsmith commented on #281
@nemakam It appears to be connectivity issue. I had dismissed that as a possible problem as the older Azure.ServiceBus library worked with the same connection string on the same machine/network.

I've just tried the sample code at home and it works as expected. Does this connected over a different protocol/port?

[2017-08-19 09:14] thisispaulsmith commented on #281
The connection is made over port 5671. Can this be configured?

[2017-08-19 15:53] SeanFeldman commented on #281
See #102. Currently panned for 1.1.0.

[2017-08-19 19:05] thisispaulsmith commented on #281
@SeanFeldman Thanks

[2017-08-19 19:05] #281 closed

[2017-08-20 23:28] mss37 opened #284 "Randomly getting MessageLockLostException when calling Complete/CompleteAsync"
## Actual Behavior
Queue is empty, queue config:
- DefaultMessageTimeToLive = TimeSpan.FromHours(1),
- LockDuration = TimeSpan.FromMinutes(5),
- DuplicateDetectionHistoryTimeWindow = TimeSpan.FromMinutes(10),
- MaxDeliveryCount = 10,

1. IQueueClient queueClient = new QueueClient.............
2. IMessageReceiver rec = new MessageReceiver.....................
3. await queueClient.SendAsync(new Mess

[2017-08-21 00:32] SeanFeldman commented on #284
Are you running with debugger when you get the exception?
What's the lock duration on the queue?

[2017-08-21 05:06] mss37 commented on #284
Yes, I am using the debugger.
LockDuration = TimeSpan.FromMinutes(5),

[2017-08-21 05:34] SeanFeldman commented on #284
Hmm, can't see anything obvious from the pseudo code. Could you share a simple repro to demonstrate that behavior?
Also, no chance that the same queue is consumed by anyone/thing else?

[2017-08-21 06:01] mss37 commented on #284
https://github.com/mss37/AzureServiceBusDotnetIssue284Example
It seems that I missed the part of creating a new client for each step, without this the issue doesn't show up.

[2017-08-21 06:02] mss37 commented on #284
This is clearly still an issue, but I have one question, is there any harm in using a client or receiver for a prolonged period of time? does the client have any internal status?

[2017-08-21 13:00] SeanFeldman commented on #284
In your repro, you're recreating QueueClient and MessageReceiver. Any specific reason?

I'll let MSFT team address this, but the client/message receiver used to receive message should be used to complete it as well.

[2017-08-21 15:42] poveilleux commented on #109
Any news on that?

[2017-08-21 16:44] SeanFeldman commented on #109
Has been backloged @poveilleux 🙁
What's the use case you're having?

[2017-08-21 18:04] SeanFeldman opened #285 "Build server artifacts"
## Actual Behavior

![image](https://user-images.githubusercontent.com/1309622/29532091-b36f6b9e-8668-11e7-8ab7-3ffc670fa753.png)

## Expected Behavior

Capture nuget package for local testing / inspections.

[2017-08-21 18:22] nemakam commented on #284
@SeanFeldman is right.
You need to `complete` the message on the same `QueueClient`/`MessageReceiver` that you received it from. The details are stored at a connection (technically, AMQP-link) basis. With AMQP currently, you will not be able to complete the message on a different `QueueClient`.
Also, another thing I notice is that you do not call `await QueueClient.CloseAsync()` before creating a

[2017-08-21 18:27] nemakam commented on #284
The clients are designed to run for a prolonged time. You should not have no problem with that. The only slight exception is `Session`. You need to periodically renew the session lock. That client cannot be reused once the session lock is lost.

[2017-08-21 18:28] nemakam commented on #284
Closing this issue. Let me know if your concerns are not addressed yet.

[2017-08-21 18:28] #284 closed

[2017-08-21 18:34] SeanFeldman commented on #284
There is something related. I'll raise a separate issue.

[2017-08-21 18:41] SeanFeldman opened #286 "CompleteAsync() remarks should mention receiver affinity when completing messages"
Similar to the full framework client, [`CompleteAsync`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.messagereceiver.completeasync) operation's remark should include similar warning:

[Current implementation](https://github.com/Azure/azure-service-bus-dotnet/blob/b39ef8a63c84d0b1bfa7c36ff13e2dc021b97833/src/Microsoft.Azure.ServiceBus/Core/MessageReceiver.cs#L369-L416)

[2017-08-21 19:07] mss37 commented on #284
Happy with adding the issue about adding the remark, I was about asking for that, actually, it worth mentioning this in the exception text (as a potential reason)
The lock supplied is invalid. Either the lock expired, the message has already been removed from the queue, **or was received using a different receiver instance**.

[2017-08-21 20:19] nemakam commented on #286
Also, as part of this change, the `MessageLockLostException`'s error message can be updated as suggested in https://github.com/Azure/azure-service-bus-dotnet/issues/284#issuecomment-323825573

[2017-08-21 20:32] poveilleux commented on #109
I am trying to send 500 messages through `ITopicClient.SendAsync(IList<Message> messages)`, but it throws a `NotImplementedException` saying "MessageSizeExceededException". I tried separating the messages into smaller batches that would fit into the 256 KB constraint per batch.

The problem I have is when I sum the `Size` property of all my messages, I get a result of 157 KB, but when I call `Send

[2017-08-21 20:55] mss37 opened #287 "Calling SendAsync hangs in an ASP.NET MVC application"
## Actual Behavior
1. Create a client
2. Call queueClient.SendAsync
3. Wait for the response, it hangs forever.

## Expected Behavior
1. Create a client
2. Call the SendAsync method
3. Wait for the response.
4. The call finishes, and the message is added to the queue.

## Versions
- OS platform and version: win 10
- .NET Version: .NET 4.7
- NuGet package version or commit ID:1.0.0

[2017-08-21 21:58] vinaysurya commented on #287
@mss37, I tried writing a sample DotNet console application, using the 1.0.0 library and with 4.7 as DotNet TargetFramework and it worked fine for me. To isolate connectivity issues etc, can you please try a simple DotNet Console application and see if that works?

[2017-08-21 22:30] #280 closed

[2017-08-21 22:31] SeanFeldman commented on #280
🎉 on behalf of all those that ever wanted to step into the source code of the client (old and new alike) - THANK YOU.

[2017-08-21 23:45] SeanFeldman commented on #287
@mss37 I highly recommend to supply a repro code that can be executed/debugged when reporting an issue like this. #284 could be a good explanation why it's so helpful 🙂

[2017-08-22 06:55] axio-marco opened #290 "Create Queues programmatically"
Is it possible to create a queue programmatically?
What behavior should I expect when the specified queue name does not refer to a created queue?

I could not find documentation about that topic.

[2017-08-22 10:53] axio-marco commented on #290
I am sorry, I did not realize the docs refer to https://www.nuget.org/packages/Microsoft.Azure.Management.ServiceBus/

[2017-08-22 13:11] oumaroudickoorckestra opened #291 "Timeout exception when sending message to a subscrition"
I am having the following error:
Exception: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond ErrorCode: TimedOut Message handler encountered an exception Microsoft.Azure.ServiceBus.ServiceBusCommunicationException: A connection attempt failed because the connected p

[2017-08-22 14:22] SeanFeldman commented on #291
Timeouts are expected to happen. Generally, it's [recommendation](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-exceptions) is to retry your operation when handling timeout exceptions.

[2017-08-22 14:28] SeanFeldman commented on #290
👍
[Readme.md](https://github.com/Azure/azure-service-bus-dotnet#can-i-manage-service-bus-entities-with-this-library) is the right approach for this library.

[2017-08-22 14:28] #290 closed

[2017-08-22 14:30] oumaroudickoorckestra commented on #291
I do have a retry policy in place but every retry it is throwing the same timeout exception.

[2017-08-22 14:36] SeanFeldman commented on #291
`RetryPolicy` is enabled by default. I was talking about custom retries.

[2017-08-22 14:37] oumaroudickoorckestra commented on #291
Ok thanks. I will check that.

[2017-08-23 07:23] iremmats opened #292 "Different serialization of messages"
Using the preview version 0.0.1 of this library and the versions for .net framework we send alot of messages created from string var message = new BrokeredMessage(jsonString). This has worked fine for us. Messages on the bus are then "Message Body - Data Encoded using a data contract serializer". When we do the same with 1.0.0 all messages are instead "Message Body - Data encoded as a stream of by

[2017-08-23 15:56] SeanFeldman commented on #292
There's a wire compatibility issue #239 that has a workaround in [one of the comments](https://github.com/Azure/azure-service-bus-dotnet/issues/239#issuecomment-320820562)

[2017-08-23 18:34] #286 closed

[2017-08-23 21:43] nemakam commented on #269
@cjpomer Websocket support is merged into our branch. This would be shipped as 1.1.0. Make sure you use TransportType=AmqpWebSockets for your connections which run through a proxy.

[2017-08-23 21:43] #269 closed

[2017-08-23 21:45] SeanFeldman commented on #102
@nemakam this is covered by #288 ?

[2017-08-23 21:48] nemakam commented on #102
Expect this functionality to ship with our next release of 1.1.0.

[2017-08-23 21:48] #102 closed

[2017-08-24 09:21] iremmats commented on #292
Thanks, we are waiting for the PR to be merged and released then. Meanwhile we will use the preview version.
You can close this issue.

[2017-08-24 17:23] Blackbaud-MitchellThomas commented on #185
If it's already supported today, is there an example of how to accomplish it?

I've been digging into this for a while, and what I've found is that while SAS tokens are in use internal to the clients, the the ability to create a client from an externally generated SAS token isn't available. For example, I want to grant an external consumer access to a single subscription on a topic by giving them

[2017-08-24 21:03] SeanFeldman commented on #292
@iremmats not sure what PR you're referring to. Irregardless, there's an [official release](https://github.com/Azure/azure-service-bus-dotnet/latest) you should probably use instead of preview.

[2017-08-25 14:08] oumaroudickoorckestra commented on #291
Actually the issue was coming from our internal firewall. We had to open the ports 5671 and 5672 in the firewall to make it work.
Thanks

[2017-08-25 14:08] #291 closed

[2017-08-26 08:42] xplicit commented on #65
Asked this question along time ago https://github.com/Azure-Samples/service-bus-dotnet-management/issues/9 but didn't get an answer. In new management API I did not find how to check queue existing by using connection string.

What is the equivalent for this code snippet from WindowsAzure.ServiceBus in new management API?

[code]

[2017-08-28 00:19] ElanHasson commented on #6
System.Transaction is now available. [corefx/#2949](https://github.com/dotnet/corefx/issues/2949)

[2017-08-28 07:22] eliasj commented on #277
Hi, Thank you for the fix. Just what we needed.

Now I wonder if you know when this fix will be released on NuGet?

[2017-08-28 10:02] NatMarchand opened #293 "Add explicit proxy configuration for websockets"
Regarding what's been done in PR #288 and issue #269 it should work for most of the configuration.
Unfortunately, there are some case where the proxy needs to be set explicitely.
I'd like to implement this but I have few questions first.
It should be in the method CreateWebSocketTransportSettings in AmqpConnectionHelper but how can we pass the proxy configuration ? Through the connection string ?

[2017-08-28 18:49] nemakam commented on #277
@eliasj Unfortunately, we don't have a fixed release date for 1.1.0 yet. We have some more work to do before the release. My best guess for next nuget would be in another 2-3 weeks.

[2017-08-28 23:28] nemakam commented on #293
We don't have a precedent in how to pass the proxy connection details. And moreover, this seems to be more of client configuration and not server endpoint details. So I'm not completely inclined towards having this in connectionString. But at the same time, since we don't expose `connection` object itself, the only place I can currently think of is `ServiceBusConnectionStringBuilder`. And looking

[2017-08-29 03:25] ElanHasson commented on #254
@barkhashah  did you find the answer to this? The other repo doesn't have the question.

[2017-08-29 07:46] NatMarchand commented on #293
I did a small test implementation locally, using the ConnectionStringProperties of ServiceBusConnectionStringBuilder.
I'm not sure but we might not need all the properties of WebProxy : bypass properties shouldn't be used as we only target one url in the connection string, there's no point in by-passing. The only thing that might be useful is the credentials property. In this case I'm *not sure* b

[2017-08-29 07:56] NatMarchand commented on #293
That could be one way but it has to be clear that it won't have any effect in the case the user uses TCP transport.

At work, all the outbound traffic is either blocked or going through a Squid http proxy. We also have an express route but it's only private peering for now and as service bus is not "vnet-able", we can't use it.
We're looking to also connect with public peering but in my previous c

[2017-08-29 19:16] nemakam commented on #293
@NatMarchand, I see that the System.Net.WebSocket by default initializes the proxy to `WebRequest.DefaultWebProxy` in `ClientWebSocketOptions() constructor`.
And based on its (details)[https://msdn.microsoft.com/en-us/library/system.net.webrequest.defaultwebproxy(v=vs.110).aspx],

Have you tried this yet? We might not need to add a custom proxy if it is set at a machine-wide level.

[2017-08-29 19:54] #292 closed

[2017-08-29 20:13] nemakam commented on #293
The main idea is to use underlying system's proxy instead of making users give explicit proxy details to our client.

[2017-08-30 02:54] nemakam commented on #293
Looks like there are couple of issues which are already filed:
https://github.com/dotnet/corefx/issues/5120
https://github.com/dotnet/corefx/issues/7037

Amqp library uses ClientWebSocket which internally uses WebSocket which reads proxy from `WebRequest.DefaultWebProxy` which is currently not implemented.
Looks like webSocket hasn't ported Proxy functionality to its dotnet core. :(

[2017-08-30 06:50] SeanFeldman commented on #65
The good news - you can with Microsoft.Azure.Management.ServiceBus.Fluent.
The bad news - it's not a 3 liner anymore.

[code]

[2017-08-30 07:02] SeanFeldman commented on #254
@ElanHasson since this library doesn't provide management API, this exception **cannot** contain replacement for `MessagingEntityAlreadyExistsException`. If you follow my [comment](https://github.com/Azure/azure-service-bus-dotnet/issues/254#issuecomment-320357620), you'll see that the exception in question is not needed since you are going to identify if entity exists or not when using API librar

[2017-08-30 09:39] NatMarchand commented on #293
Ah! You had me follow an interesting lead with the app.config. I tested yesterday and it didn't work but I didn't wonder why. Then I debugged the Microsoft.Azure.Amqp, its WebSocketTransportInitiator and I've the following code :
`    public override bool ConnectAsync(TimeSpan timeout, TransportAsyncCallbackArgs callbackArgs)
    {
      ClientWebSocket cws = new ClientWebSocket();
      cws.Optio

[2017-08-30 11:07] NatMarchand commented on #293
It's very weird, I can see the line `cws.Options.Proxy = this.settings.Proxy;` when I decompile with DotPeek or Reflector but I can't find it in the repo. I'm totally lost 😕

[2017-08-31 22:19] nemakam commented on #293
@NatMarchand , Before you go ahead and raise a PR, do a quick check and let me know if you got it working on dotnet core.
I tried to stitch up the whole proxy thing across `Azure.ServiceBus` and `Azure.amqp` library and it hasnt worked on dotnet core (even after bumping up the version to `netcore2.0`). The exact same setup for `net451` works.
Based on the comments (here)[https://github.com/dotnet/

[2017-08-31 22:20] nemakam commented on #293
I've observed this as well. I'll try to sync up with the owner of the amqp library and get back to you on that. But this might take a few days as he is OOF as of now.

[2017-09-01 11:37] jimmystridh commented on #276
I'm also interested in best practice with regards to threading.

These docs https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements mention _You can safely use the QueueClient object for sending messages from concurrent asynchronous operations and multiple threads._ though this is of course for the old library, so it would be interesting to know if this ho

[2017-09-03 21:41] shahbarkha opened #294 "MessageReceiver.ReceiveAsync throws ServiceBusTimeoutException if passed with Timespan.Zero"
In your sample application :\azure-service-bus\samples\DotNet\Microsoft.Azure.ServiceBus\SendReceiveUsingMessageSenderReceiver

Please try to pass Timespan.Zero in the ReceiveAsync method.

Actual Behavior - Exception gets thrown.

An unhandled exception of type 'Microsoft.Azure.ServiceBus.Primitives.ServiceBusTimeoutException' occurred in System.Private.CoreLib.ni.dll
Timed out trying to create F

[2017-09-03 21:58] shahbarkha opened #295 "Provide RenewLockAsync functionality which accepts only LockToken"
IMessageReceiver method:
 Task RenewLockAsync(Message message);
Takes "Message" as the argument as opposed to all other similar methods which takes" string lockToken" as follows:

Task CompleteAsync(IEnumerable<string> lockTokens);
Task DeferAsync(string lockToken);
 Task AbandonAsync(string lockToken);
 Task DeadLetterAsync(string lockToken);

Why RenewLockAsync is taking Message object and not l

[2017-09-03 22:52] niemyjski commented on #295
Any updates on this

[2017-09-03 23:48] SeanFeldman commented on #295
@niemyjski updates? It was opened 2h ago...

[2017-09-03 23:53] niemyjski commented on #295
Lol was on my phone and came across it, didn't check the date

[2017-09-04 07:56] johnknoop commented on #237
FYI I've now been able to deploy a new version of the program. I'm now running the 1.0 version of this library. I'll start publishing a message every day and see if/when the consumer program stops/crashes.

[2017-09-05 05:54] SeanFeldman commented on #294
`null` would be returned if the invoked `this.ReceiveAsync(1, operationTimeout)` would not fail. But it fails with the underlying exception is  `Timed out trying to create FaultTolerantAmqpObject`1`. That's because `ReceiveAsync(int maxMessageCount, TimeSpan operationTimeout)` is subsequently invoked with `TimeSpan.Zero` for the `operationTimeout`. That one is passed further into `this.OnReceiveAs

[2017-09-05 06:41] SeanFeldman commented on #295
Who are we in this scenario? Are you creating a library where your library is abstracting ASB? In that case, do you need to expose lock token or message at all? Wouldn't that be handled by your abstraction whenever users of your library request current message processing extension? Thanks.

[2017-09-05 16:41] shahbarkha commented on #295
@SeanFeldman

Who are we in this scenario?Are you creating a library where your library is abstracting ASB?

[2017-09-05 17:19] SeanFeldman commented on #295
@Azure/azure-service-bus-write was message receiver in the old client tracking the received messages somehow to have access to those via lockTokens?

[2017-09-05 18:26] SeanFeldman commented on #295
Looking at PR #245 it seems like regression made to satisfy `Message.LockedUntiUtc` update.

In the old client, `client.RenewLockToken(lockToken)` would return the new `LockedUntilUtc` DateTime value where in PR #245 the change was done to update `Message` due to the fact that `LockedUntilUtc` property is internal and cannot be modified from the outside. Hence passing message into the `RenewLockTo

[2017-09-06 09:21] johnknoop commented on #237
Hi

So, today it happened again. I deployed a container with this code running on the 1.0 version of the lib the day before yesterday. Since then I've been sending messages a random times from my local computer and verify in the log that they get handled correctly. But just now when I did the same routine, I find this in the log:

"Microsoft.Azure.ServiceBus.QuotaExceededException: Cannot allocate

[2017-09-06 14:13] niemyjski commented on #255
Thanks for the update. For now, we'll just exclude these from our fork (https://github.com/FoundatioFx/Foundatio.AzureServiceBus/pull/1) cc @barkhashah

[2017-09-06 14:16] niemyjski commented on #294
@SeanFeldman, I agree. Any timespan value should be properly handled with argument validation or from the service. TimeSpan.Zero is a valid value saying I do not wish to timeout. If it's not supported server side an ArgumentException should be the proper course.

@barkhashah perhaps if our implementation contains should check for TimeSpan.Ticks <= 0 and not pass a timeout value? @SeanFeldman, do y

[2017-09-06 14:18] niemyjski commented on #295
I agree, also the locked until should be a read only public property as it's adding value and not hurting anything. Are there any updates on if this will make it into the next release? This is kind of a blocker.

[2017-09-06 15:16] johnknoop commented on #237
This is the usage of the queue, btw:
![image](https://user-images.githubusercontent.com/3394270/30119783-1c1baa2a-9327-11e7-885d-b9676071d75f.png)

[2017-09-06 16:28] SeanFeldman commented on #237
According to the documentation, `QuotaExceededException` would be thrown in 2 cases

Looks like it's the second issue (connections) and not the entity size.

The [snippet](https://github.com/Azure/azure-service-bus-dotnet/issues/237#issuecomment-318446939) is taken out of the context that could influence how things are set up. @johnknoop any chance to share a repro that could be fully examined?

[2017-09-06 16:32] SeanFeldman commented on #294
Currently `MessageReceiver` passes the value as is. I've raised a PR to address waitTime that is less or equal to `TimeSpan.Zero` which I agree, shouldn't be accepted as a valid value.

[2017-09-06 16:44] johnknoop commented on #237
Sean,

Here is a gist containing my project: https://gist.github.com/johnknoop/47488ea2c0e011f0fa1e5a2cd39b1a80

The deployment process starts the program without any arguments, which registers a session handler. Then once every day I run the same program locally, but with arguments "publish XXX SomeMessage" where XXX will be used as the SessionId.

[2017-09-07 06:38] joaocc commented on #234
@vinaysurya, Do you have any updates on this? If this is not the case, as much as we would love to use Azure for our projects, we will have to consider alternative solutions. Thx

[2017-09-07 12:10] ohadschn opened #297 "Should IClientEntity.IsClosedOrClosing implementations be thread safe?"
For example `ClientEntity` implements it with a vanilla property:
https://github.com/Azure/azure-service-bus-dotnet/blob/b39ef8a63c84d0b1bfa7c36ff13e2dc021b97833/src/Microsoft.Azure.ServiceBus/ClientEntity.cs#L37

However its name suggests asynchronous use, implying that something like `volatile` or `Interlocked` should be used on the underlting variable (like they do in `CancellationTokenSource`)

[2017-09-07 14:03] ohadschn opened #298 "NamespaceManager - add a CancellationToken parameter to Async methods"
e.g. `CreateTopicAsync(TopicDescription)`.

[2017-09-07 14:38] SeanFeldman commented on #298
You might want to move this to the the repo that is for the client you're referring to, `WindowsAzure.ServiceBus` -> https://github.com/Azure/azure-service-bus. This repo is for the new client `Microsoft.Azure.ServiceBus` that [doesn't have `NamespaceManager`](https://github.com/Azure/azure-service-bus-dotnet#can-i-manage-service-bus-entities-with-this-library).

[2017-09-07 15:22] ohadschn commented on #298
Done, thanks for noticing: https://github.com/Azure/azure-service-bus/issues/80.

[2017-09-07 15:22] #298 closed

[2017-09-07 15:55] johnknoop commented on #237
Note: I'm not using my service bus for anything other than this, so it can't really be a matter of any quota being exceeded in terms of size neither connections.

[2017-09-08 02:24] nemakam commented on #295
This seems like a reasonable ask.
After discussing it with the team, we have decided to have an overload of `Task<DateTime> RenewMessage(string lockToken)` which can be used to renew the message.
Needless to say, lock tokens in AMQP are link-specific. i.e., the `MessageReceiver` that received this message is the only client entity which can renew the lock.

We will try to work on this when possibl

[2017-09-08 03:13] SeanFeldman commented on #295
@nemakam to confirm, the overload would not update message `LockedUntilUtc` property and will throw if given a `LockTocken` of a message received with another receiver?